.room-details {

  &__photos {
    display: flex;
    width: 100%;
    height: 485px;
    flex-direction: column;
    flex-wrap: wrap;
  }

  &__photo {
    background: center, center no-repeat;
    background-size: cover;
    position: relative;

    &-1 {
      width: 66%;
      height: 100%;
    }

    &-2 {
      width: 34%;
      height: 50%;
    }

    &-3 {
      width: 34%;
      height: 50%;
    }
  }

  &__container {
    width: 100%;
    max-width: 1200px;
    padding: 69px 20px 62px 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  &__information {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    min-width: 400px;
    max-width: 730px;
    padding-right: 20px;
  }

  &__icon-text-list {

    &-wrap {
      width: 100%;
      max-width: 300px;
      margin-bottom: 13px;
    }

    &-title {
      margin-bottom: 20px;
    }
  }

  &__diagram {

    &-wrap {
      margin-right: 44px;
      margin-bottom: 20px;
    }

    &-title {
      margin-bottom: 20px;
    }
  }

  &__reviews {

    &-wrap {
      margin-bottom: 10px;
    }

    &-title {
      display: inline-block;
      margin-bottom: 20px;
    }

    &-number {
      float: right;
    }
  }

  &__review {
    margin-bottom: 23px;
  }

  &__rules {

    &-wrap {
      width: 100%;
      max-width: 260px;
    }

    &-title {
      margin-bottom: 17px;
      margin-left: 20px;
    }
  }

  &__cancellation {

    &-wrap {
      width: 100%;
      max-width: 349px;
      padding-right: 5px;
    }

    &-title {
      margin-bottom: 17px;
    }
  }

  &__booking-card {
    width: 100%;
    min-width: 360px;
    max-width: 380px;
    margin-bottom: 50px;
  }




  &__footer {
    border-top: 1px solid rgba(31, 32, 65, 0.1);
  }

}

@media(max-width: 800px) {
  .room-details {
    
    &__photos {
      height: 300px;
    }

    &__container {
      flex-wrap: wrap;
      justify-content: center;
    }

    &__information {
      order: 1;
      justify-content: center;
    }

    &__cancellation-wrap {
      padding-left: 20px;
    }

    &__booking-card {
      //order: 1;
    }
  }
}

@media(max-width: 670px) {
  .room-details {

    &__rules-wrap {
      max-width: none;
      margin-bottom: 20px;
    }

    &__cancellation-wrap {
      max-width: none;
    }

    &__information {
      min-width: 0;
    }

    &__booking-card {
      min-width: 0;
    }
  }
}

@media(max-width: 500px) {
  .room-details {

    &__photos {
      height: 200px;
    }

    &__photo-1 {
      width: 100%;
    }

    &__photo-2,
    &__photo-3 {
      display: none;
    }    
  }
}

@media(max-width: 440px) {
  .room-details {


    &__reviews-title {
      margin-bottom: 10px;
    }

    &__reviews-number {
      float: none;
      display: block;
      margin-bottom: 20px;
    }
  }
}
/* @import '../../scss/_vars';

.room-photos {
  display: flex;
}

.room-photo_wide {
  height: 485px;
  width: 64%;
}

.room-photos-wrap {
  width: 36%;
}

.room-photo_slim {
  width: 100%;
  height: 50%;
}

.details-and-room-card-wrap {
  padding-top: 70px;
  padding-bottom: 62px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.room-card-wrap {
  min-width: 380px;
  margin-left: 20px;
}

.details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  * {
    box-sizing: border-box;
  }

  h2 {
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    font-stretch: expanded;
  }

  &__info {
    width: 47%;
    margin-bottom: -8px;
    min-width: 280px;
  }

  &__impressions {
    padding-left: 6px;
    padding-bottom: 40px;
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 280px;

    h2 {
      width: 100%;
      letter-spacing: 0.8px;
    }
  }

  &__reviews {
    width: 100%;
    padding-right: 50px;
    margin-bottom: 10px;
    min-width: 280px;

    h2 {
      display: inline-block;
      margin-bottom: 10px;
    }

    .reviews__num {
      display: inline-block;
      float: right;
    }

    .review {
      margin-bottom: 23px;
    }

    .review__avatar {
      top: 0;
      left: 0;
      // временный, потому что картинки уже обрезанные
      background-position: -22px -12px;
    }

    .review__like-button {
      left: 3px;
    }
  }

  &__rules {
    width: 47%;
    padding-right: 100px;
    min-width: 280px;

    h2 {
      padding-left: 20px;
      margin-bottom: 17px;
    }
  }

  &__cancellation {
    width: 53%;
    padding-right: 60px;
    padding-left: 5px;
    min-width: 280px;

    h2 {
      margin-bottom: 17px;
    }
  }
}


@media(max-width: 1200px) {
  .details__rules {
    padding-right: 20px;
  }

  .details>* {
    width: 100%;
    padding-right: 30px;
  }

  .details__rules {
    margin-bottom: 20px;

    h2 {
      padding-left: 0;
    }
  }
}

@media(max-width: 940px) {
  .details-and-room-card-wrap {
    flex-direction: column-reverse;

    >* {
      align-self: center;
    }
  }

  .room-card-wrap {
    margin-bottom: 50px;
  }

  .details__info {
    width: 50%;
  }

  .details__impressions {
    width: 50%;
  }
}

@media(max-width: 800px) {
  .room-photo_wide {
    height: 300px;
  }
}

@media(max-width: 660px) {
  .details {
    >* {
      width: 100%;
      margin-left: 15%;
    }
  }
}

@media(max-width: 500px) {
  .details {
    >* {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .details__reviews .reviews__num {
    float: none;
    display: block;
    margin-bottom: 20px;
  }

  .room-photos-wrap {
    display: none;
  }

  .room-photo_wide {
    height: 200px;
    width: 100%;
  }

  .details-and-room-card-wrap {
    padding-top: 30px;
  }
} */