@import '../../scss/_vars';

.room-photos {
  display: flex;
}

.room-photo_wide {
  height: 485px;
  width: 64%;
}

.room-photos-wrap {
  width: 36%;
}

.room-photo_slim {
  width: 100%;
  height: 50%;
}

.details-and-room-card-wrap {
  padding-top: 70px;
  padding-bottom: 62px;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.room-card-wrap {
  min-width: 380px;
  margin-left: 20px;
}

.details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;

  * {
    box-sizing: border-box;
  }

  h2 {
    margin-bottom: 20px;
    letter-spacing: 0.6px;
    font-stretch: expanded;
  }

  &__info {
    width: 47%;
    margin-bottom: -8px;
    min-width: 280px;
  }

  &__impressions {
    padding-left: 6px;
    padding-bottom: 40px;
    width: 53%;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    min-width: 280px;

    h2 {
      width: 100%;
      letter-spacing: 0.8px;
    }
  }

  &__reviews {
    width: 100%;
    padding-right: 50px;
    margin-bottom: 10px;
    min-width: 280px;

    h2 {
      display: inline-block;
      margin-bottom: 10px;
    }

    .reviews__num {
      display: inline-block;
      float: right;
    }

    .review {
      margin-bottom: 23px;
    }

    .review__avatar {
      top: 0;
      left: 0;
      // временный, потому что картинки уже обрезанные
      background-position: -22px -12px;
    }

    .review__like-button {
      left: 3px;
    }
  }

  &__rules {
    width: 47%;
    padding-right: 100px;
    min-width: 280px;

    h2 {
      padding-left: 20px;
      margin-bottom: 17px;
    }
  }

  &__cancellation {
    width: 53%;
    padding-right: 60px;
    padding-left: 5px;
    min-width: 280px;

    h2 {
      margin-bottom: 17px;
    }
  }
}


@media(max-width: 1200px) {
  .details__rules {
    padding-right: 20px;
  }

  .details>* {
    width: 100%;
    padding-right: 30px;
  }

  .details__rules {
    margin-bottom: 20px;

    h2 {
      padding-left: 0;
    }
  }
}

@media(max-width: 940px) {
  .details-and-room-card-wrap {
    flex-direction: column-reverse;

    >* {
      align-self: center;
    }
  }

  .room-card-wrap {
    margin-bottom: 50px;
  }

  .details__info {
    width: 50%;
  }

  .details__impressions {
    width: 50%;
  }
}

@media(max-width: 800px) {
  .room-photo_wide {
    height: 300px;
  }
}

@media(max-width: 660px) {
  .details {
    >* {
      width: 100%;
      margin-left: 15%;
    }
  }
}

@media(max-width: 500px) {
  .details {
    >* {
      margin-left: auto;
      margin-right: auto;
    }
  }

  .details__reviews .reviews__num {
    float: none;
    display: block;
    margin-bottom: 20px;
  }

  .room-photos-wrap {
    display: none;
  }

  .room-photo_wide {
    height: 200px;
    width: 100%;
  }

  .details-and-room-card-wrap {
    padding-top: 30px;
  }
}