h3 Toggle
label(class="label label_toggle")
	input(class="toggle" type="checkbox" checked)
	div(class="toggle__text") Получать спецпредложения
label(class="label ui-label label_toggle")
	input(class="toggle" type="checkbox")
	div(class="toggle__text") Получать спецпредложения