h3 Toggle
label.label.label_toggle
	input.toggle(type="checkbox" checked)
	div.toggle__text Получать спецпредложения
label.label.label_toggle
	input.toggle(type="checkbox")
	div.toggle__text Получать спецпредложения