extends ../../templates/main

block vars
    - mainClass = 'landing-page';


block head
    title Landing page
    link(rel="stylesheet" href="landing-page.css")


block content
    include ../../components/search-card/search-card
    -
        let dropdownContent = {
            guests: {
                text: 'Сколько гостей',
                items: ['взрослые', 'дети', 'младенцы'],
                buttons: ['Очистить', 'Применить']
            },
            furniture: {
                text: 'Удобства',
                items: ['спальни', 'кровати', 'ванные комнаты'],
                buttons: false
            }
        };
        let dateTextField = {
            maskParameters: {
                type: 'date',
                delimiter: '.',
                pattern: ['d', 'm', 'Y']
            },
            placeholder: 'ДД.ММ.ГГГГ'   
        }

    .landing-page__front(style=`background-image: url( ${require('./images/landing-page__front.jpg')})`)
        .landing-page__container
            .landing-page__search-card
                -
                    options = {
                        title: 'Найдём номера под ваши пожелания',
                        dateDropdown: {
                            firstDate: {
                                title: 'Прибытие',
                                textField: dateTextField
                            },
                            lastDate: {
                                title: 'Выезд',
                            },
                            mask: dateTextField
                        },
                        dropdown: {
                            content: dropdownContent.guests, 
                            title: 'Гости'
                        },
                        button: {
                            text: 'Подобрать номер',
                            appearance: 'filled',
                            isExtended: true
                        }    
                    }
                
                +search-card(options)

            .landing-page__tagline
                p Лучшие номера для вашей работы, отдыха и просто вдохновения


block script
    script(src="landing-page.js")