extends ../../templates/main

block vars
    - mainClass = 'landing-page';


block head
    title Landing page
    link(rel="stylesheet" href="landing-page.css")


block content

    - data = require('./landing-page.json');

    include ../../blocks-semantic/search-card/search-card

    .landing-page__front(style=`background-image: url( ${require('./images/' + data.image)})`)

        .landing-page__container

            .landing-page__search-card
                +search-card(data.searchCard)

            .landing-page__tagline
                p= data.tagline


block script
    script(src="landing-page.js")