doctype html
html
	head
	meta(charset = 'utf-8')
	meta(name='viemport', content="initial-scale=1.0, width=device-width")
	title Webpack app
	body
		h1 test pug hhh552158
		script(src="http://localhost:35729/livereload.js")
		
