h3 Radio buttons
label.label.label_radio
	input.radio(type="radio" name="ui-radio" checked)
	div.radio__text Мужчина
label.label.label_radio
	input.radio(type="radio" name="ui-radio")
	div.radio__text Женщина