h3 Radio buttons
label(class="label label_radio")
	input(class="radio" type="radio" name="ui-radio" checked)
	div(class="radio__text") Мужчина
label(class="label label_radio")
	input(class="radio" type="radio" name="ui-radio")
	div(class="radio__text") Женщина