extends ../../templates/ui-kit

block vars
    - mainClass = 'colors-and-types';


block head
    title Colors and Types
    link(rel="stylesheet" href="colors-and-types.css")


block content

    - data = require('./colors-and-types.json');

    include ../../blocks-ui/color/color
    include ../../blocks-ui/colors/colors
    include ../../blocks-ui/font/font
    include ../../blocks-ui/fonts/fonts

    .colors-and-types__container
        .colors-and-types__colors
            +colors(data.colors)

        .colors-and-types__fonts
            +fonts(data.fonts)


block script
    script(src='./colors-and-types.js')