@import '../../scss/_vars';

@import '../../scss/_mixins';

.colors-and-types {
  padding: rem(145px) 0;

  &__logo {
    position: absolute;
    top: rem(30px);
    left: 6.5%;
  }

  &__container {
    width: 100%;
    max-width: rem(1180px);
    padding: 0 rem(20px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__fonts {
    margin-right: rem(27px);
  }
}

@media (max-width: rem(778px)) {

  .colors-and-types {

    &__fonts {
      padding-left: 0;
    }

    &__colors {
      margin-bottom: rem(40px);
    }
  }
}