@import "../../scss/_vars";

@import "../../scss/_mixins";

.colors-and-types {
  padding: 145px 0;

  &__logo {
    position: absolute;
    top: 30px;
    left: 6.5%;
  }

  &__container {
    width: 100%;
    max-width: 1180px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__fonts {
    margin-right: 27px;
  }
}

@media (max-width: 778px) {

  .colors-and-types {

    &__fonts {
      padding-left: 0;
    }

    &__colors {
      margin-bottom: 40px;
    }
  }
}