include ../../common.blocks/text-field/text-field
include ../../common.blocks/button/button

mixin login-card({title, textFieldEmail, textFieldPassword, button, enter})
	.login-card
		form
			h1.login-card__title= title

			.login-card__email
				+text-field(textFieldEmail)
			.login-card__password
				+text-field(textFieldPassword)
			
			.login-card__button
				+button(button)

			.login-card__enter
				span.login-card__enter-text= enter.text
				.login-card__enter-button
					+button(enter.button)



//-
	form(name="login" action="login" method="post")
		.card.login-card
			
			header
				h1 Войти

			label.label
				input.input.input_big(type="email" name="email" placeholder="Email")
			label.label
				input.input.input_big(type="password" name="password" placeholder="Пароль")

			.button.button_colored.button_big Войти
				.button__arrow.arrow
					i.material-icons arrow_forward

			.card__information
				span Нет аккаунта на Toxin?
				.button-wrap.button_middle.button-wrap_not-colored.button_check-in
					.button Создать