div(class="card login-card")
	
	h1 Войти

	label(class="label")
		input(class="input input_size_big" type="email" name="email" placeholder="Email")
	label(class="label")
		input(class="input input_size_big" type="password" name="password" placeholder="Пароль")

	div(class="button button_color_filled button_size_big") Войти
		div(class="button__arrow arrow")
			i(class="material-icons") arrow_forward

	div(class="card__information")
		span Нет аккаунта на Toxin?
		div(class="button-wrap button_size_middle button-wrap_color_empty button_check-in")
			div(class="button") Создать