.login-card {
	max-width: 380px;
	h1 {
		margin-bottom: 20px;
	}
	.input {
		margin-bottom: 10px;
	}
	input[name="password"] {
		margin-bottom: 20px;
	}
	.button_size_big {
		margin-bottom: 31px;
	}
}