.date-search#date-search
	label.label.ui-label
		h3 Date dropdown
		input.input.input_small.calendar#first-date(placeholder="ДД.ММ.ГГГГ")
		.input__arrow.arrow
			i.material-icons expand_more
	label.label.ui-label
		h3 Date dropdown
		input.input.input_small.calendar#last-date(placeholder="ДД.ММ.ГГГГ")
		.input__arrow.arrow
			i.material-icons expand_more