.date-search {
  label:first-child {
    margin-right: 20px;
  }

  .input__arrow {
    top: 30px;
    pointer-events: none;
  }

  .input {
    padding-right: 30px;
    cursor: pointer;
    text-overflow: ellipsis;
    text-overflow: hidden;
    overflow: hidden;

    span {
      white-space: nowrap;
      word-wrap: break-word;
    }
  }
}

.date-search {
  display: flex;
  width: 100%;
}