.date-search label {
	display: inline-block;
	width: 150px;
	&:first-child {
		margin-right: 20px;
	}
	.input__arrow {
		top: 30px;
		pointer-events: none;
	}
	.input {
		cursor: pointer;
		color: $c75;
	}
}
.date-search {
	display: flex;
}
