.buttons {
  width: 100%;

  &__type {
    display: flex;
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    &_secondary {
      margin-bottom: 26px;
    }

    &_extended {
      width: 100%;

      >* {
        width: 100%;
      }
    }

    &_icon-link {
      margin-bottom: 26px;
    }
  }

  &__button {

    &:not(:last-child) {
      margin-right: 18px;
    }

    &_primary-on-hover {
      pointer-events: none;
      opacity: .5;
    }

    &_secondary-on-hover {
      pointer-events: none;

      .button {
        opacity: 1;
        background-image: linear-gradient(white, white), $gradientPrimarySemitransparent;
      }
    }
  }
}