.counted-item {
  width: 100%;
  display: flex;
  height: rem(32px);
  font-weight: 700;
  font-size: rem(12px);
  line-height: rem(25px);
  text-transform: uppercase;
  color: $greyOpacity100;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__value {
    right: rem(35px);
    width: rem(32px);
    text-align: center;
  }

  &__operation {
    background-color: #fff;
    width: rem(30px);
    height: rem(30px);
    border: rem(1px) solid $greyOpacity25;
    border-radius: rem(22px);
    text-align: center;
    font-size: rem(18px);
    color: $greyOpacity50;
    cursor: pointer;
  
    &_dec {
      margin-left: auto;
      padding-bottom: rem(5px);
    }
  
    &_disabled {
      opacity: .5;
    }
  }
}