doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name='viemport', content="initial-scale=1.0, width=device-width")
		title UI Kit page
		link(rel="stylesheet" href="style.css")
	body

	<!--------- Variables --------------------->



		section(class="ui-section ui-section_white colors-and-type")
			div(class="ui-logo")
				include ../../common.blocks/logo/ui-logo.pug
			div(class="ui-container")

				div(class="colors")
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 100%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 75%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 50%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 25%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 5%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Purple</br><span>#BC9CFF</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Green</br><span>#6FCF97</span>

				div(class="fonts")
					div(class="font-item")
						div(class="font-item__tag")
							h1 H1
						h1(class="font-item__desc") This one is the sub-section or widget title
					div(class="font-item")
						div(class="font-item__tag")
							h2 H2
						h2(class="font-item__desc") Next one is the item title inside widgets
					div(class="font-item")
						div(class="font-item__tag")
							h3 H3
						h3(class="font-item__desc") This is a label or cta text
					div(class="font-item")
						div(class="font-item__tag")
							span Body
						span(class="font-item__desc") This is the body text which is used for most</br> of the design, like paragraphs, lists, etc.
		
		section(class="ui-section ui-section_white form-elements")
			div(class="ui-logo")
				include ../../common.blocks/logo/ui-logo.pug
			container(class="ui-container ui-form-blocks-1")
				div(class="ui-form-block")
					label(class="label ui-label")
						h3 Text field
						input(class="input input_size_big" placeholder="Email")
						span(class="ui-state") 
					label(class="label ui-label")
						h3 Text field
						input(class="input input_size_big" placeholder="This is pretty awesome")
					label(class="label ui-label")
						h3 Dropdown
						select(class="select select_size_big")
							option(value="" disabled selected hidden) Сколько гостей
							option 1
							option 2
							option 3
							option 4
					label(class="label ui-label")
						h3 Masked text field
						input(class="input input_size_big input_masked_date" placeholder="ДД/ММ/ГГГГ")




				div(class="ui-col")
				div(class="ui-col")











		<script src="ui-kit.js"></script>
		script(src="http://localhost:35729/livereload.js")


