.s {
  width: 100%;
  max-width: 1920px;
  margin-left: auto;
  margin-right: auto;
}
.c  {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
  border: solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}
.a, .b {
  box-sizing: border-box;
  width: 50%;
  min-width: 400px;
  height: 300px;

}
.a {
  border: solid red;  
}
.b {
  border: solid green;
}