doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name='viewport' content="initial-scale=1.0, width=device-width")
    title UI Kit page
    link(rel="stylesheet" href="style.css")
  body
    section.ui-section.ui-section_white.colors-and-type
      .ui-logo
        include ../../common.blocks/logo/ui-logo.svg
      .ui-container

        .colors
          .color-item
            .color-item__square
            .color-item__desc
              h2 Dark Shade 100%</br><span>#1F2041</span>
          .color-item
            .color-item__square
            .color-item__desc
              h2 Dark Shade 75%</br><span>#1F2041</span>
          .color-item
            .color-item__square
            .color-item__desc
              h2 Dark Shade 50%</br><span>#1F2041</span>
          .color-item
            .color-item__square
            .color-item__desc
              h2 Dark Shade 25%</br><span>#1F2041</span>
          .color-item
            .color-item__square
            .color-item__desc
              h2 Dark Shade 5%</br><span>#1F2041</span>
          .color-item
            .color-item__square
            .color-item__desc
              h2 Purple</br><span>#BC9CFF</span>
          .color-item
            .color-item__square
            .color-item__desc
              h2 Green</br><span>#6FCF97</span>

        .fonts
          .font-item
            .font-item__tag
              h1 H1
            h1.font-item__desc This one is the sub-section or widget title
          .font-item
            .font-item__tag
              h2 H2
            h2.font-item__desc Next one is the item title inside widgets
          .font-item
            .font-item__tag
              h3 H3
            h3.font-item__desc This is a label or cta text
          .font-item
            .font-item__tag
              span Body
            span.font-item__desc This is the body text which is used for most of the design, like paragraphs, lists, etc.
    
    section.ui-section.ui-section_white.form-elements
      .ui-logo
        include ../../common.blocks/logo/ui-logo.svg
      container.ui-container.ui-form-blocks-1
        .ui-column
          .ui-form-block
            .block-wrap
              label.label.ui-label
                h3 Text field
                input.input.input_big(placeholder="Email")
                span.ui-field-state Default
            .block-wrap
              label.label.ui-label
                h3 Text field
                input.input.ui-input_hover.input_big(placeholder="This is pretty awesome")
                span.ui-field-state Hover / Focus
            .block-wrap
              label.label.ui-label
                h3 Dropdown
                select.select.select_size_big
                  option(value="" disabled selected hidden) Сколько гостей
                  option 1
                  option 2
                  option 3
                  option 4
                .select__arrow.arrow
                  i.material-icons expand_more
                span.ui-field-state Default
            .block-wrap
              label.label.ui-label
                h3 Masked text field
                input.input.input_big.input_with-mask-date(placeholder="ДД.ММ.ГГГГ.")
                span.ui-field-state Default

          .ui-form-block
            .date-search#ui-date-search
              label.label.ui-label
                h3 Date dropdown
                input.input.input_small.calendar#ui-first-date(placeholder="ДД.ММ.ГГГГ.")
                .input__arrow.arrow
                  i.material-icons expand_more
              label.label.ui-label
                h3 Date dropdown
                input.input.input_small.calendar#ui-last-date(placeholder="19.08.2019.")
                .input__arrow.arrow
                  i.material-icons expand_more

          .ui-form-block
            label.label.ui-label
              h3 Filter date dropdown
              select.select.select_size_middle
                option(value="" disabled selected hidden) 19 авг - 23 авг
                option 1
                option 2
                option 3
                option 4
              .select__arrow.arrow
                i.material-icons expand_more

          .ui-form-block
            label.label.ui-label
              h3 Subscription text field
              input.input.input_middle(type="email" placeholder="Email")
              .input__arrow.arrow
                i.material-icons.icons_colored arrow_forward

        .ui-column
          .ui-form-block
            h3 Checkbox buttons
            label.label.ui-label.label_checkbox
              input.checkbox(type="checkbox")
              .checkbox__text Можно курить
            label.label.ui-label.label_checkbox
              input.checkbox(type="checkbox" checked)
              .checkbox__text Можно с питомцами
            label.label.ui-label.label_checkbox
              input.checkbox(type="checkbox" checked)
              .checkbox__text Можно пригласить гостей </br>(до 10 человек)

          .ui-form-block
            h3 Radio buttons
            label.label.ui-label.label_for-radio
              input.radio(type="radio" name="ui-radio" checked)
              .radio__text Мужчина
            label.label.ui-label.label_for-radio
              input.radio(type="radio" name="ui-radio")
              .radio__text Женщина

          .ui-form-block
            h3 Toggle
            label.label.ui-label.label_toggle
              input.toggle(type="checkbox" checked)
              .toggle__text Получать спецпредложения
            label.label.ui-label.label_toggle
              input.toggle(type="checkbox")
              .toggle__text Получать спецпредложения

          .ui-form-block
            h3 Like button
            .like-button-wrap
              label.label.ui-label.label_for-like-button
                input.like-button(type="checkbox")
                .like-button__text 2
                  .material-icons
            .like-button-wrap.like-button-wrap_active
              label.label.ui-label.label_for-like-button
                input.like-button(type="checkbox" checked)
                .like-button__text 12
                  .material-icons

          .ui-form-block
            h3 Rate button
            .rating.ui-rating
              input.rating__star(name="ui-rating" value="5" id="ui-rating_5" type="radio")
              label.label.label_rating.material-icons(for="ui-rating_5")
              input.rating__star(name="ui-rating" value="4" id="ui-rating_4" type="radio" checked)
              label.label.label_rating.material-icons(for="ui-rating_4")
              input.rating__star(name="ui-rating" value="3" id="ui-rating_3" type="radio")
              label.label.label_rating.material-icons(for="ui-rating_3")
              input.rating__star(name="ui-rating" value="2" id="ui-rating_2" type="radio")
              label.label.label_rating.material-icons(for="ui-rating_2")
              input.rating__star(name="ui-rating" value="1" id="ui-rating_1" type="radio")
              label.label.label_rating.material-icons(for="ui-rating_1")

            .rating.ui-rating
              input.rating__star(name="ui2-rating" value="5" id="ui2-rating_5" type="radio" checked)
              label.label.label_rating.material-icons(for="ui2-rating_5")
              input.rating__star(name="ui2-rating" value="4" id="ui2-rating_4" type="radio")
              label.label.label_rating.material-icons(for="ui2-rating_4")
              input.rating__star(name="ui2-rating" value="3" id="ui2-rating_3" type="radio")
              label.label.label_rating.material-icons(for="ui2-rating_3")
              input.rating__star(name="ui2-rating" value="2" id="ui2-rating_2" type="radio")
              label.label.label_rating.material-icons(for="ui2-rating_2")
              input.rating__star(name="ui2-rating" value="1" id="ui2-rating_1" type="radio")
              label.label.label_rating.material-icons(for="ui2-rating_1")

        .ui-column
          .ui-form-block
            h3 Range slider
            .slider-range
              .slider-wrapper
                #slider-range
              .range-wrapper
                .range

          .ui-form-block
            h3 Buttons
            .ui-buttons-wrap
              .ui-button.button.button_colored.button_middle Click me
              .ui-button.button.button_colored.button_middle.ui-button_not-active Click me
              .ui-button.button-wrap.ui-button-wrap.button-wrap_not-colored
                .button Click me
              .ui-button.button-wrap.ui-button-wrap.ui-button_not-active.button-wrap_not-colored
                .button Click me
              a.ui-link.link.link_colored Click me
              a.ui-link.link.link_grey Click me
              .ui-button.button.button_colored.button_big Перейти к оплате
                .button__arrow.arrow
                  i.material-icons arrow_forward

          .ui-form-block
            h3 Pagination
            .pagination
            .pagination__arrow.arrow
              i.material-icons arrow_forward
            .pagination__text <span>1 - 12 из 100+</span> вариантов аренды

      container.ui-container.ui-form-blocks-2
        .ui-column
          .ui-form-block
            .ui-dropdown.dropdown.dropdown_middle.dropdown_furniture
              h3 Dropdown
              .dropdown__field <span>2 спальни, 2 кровати...</span>
                .dropdown__arrow.arrow
                  i.material-icons expand_more
              span.ui-field-state Default
              .dropdown-ul-wrap
                ul
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 2
                    span.dropdown__button.dropdown__button_minus -
                    |Спальни
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 2
                    span.dropdown__button.dropdown__button_minus -
                    |Кровати
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 0
                    span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
                    |Ванные комнаты

            .ui-dropdown.dropdown.dropdown_middle.dropdown_furniture.dropdown_open
              h3 Dropdown
              .dropdown__field <span>2 спальни, 2 кровати...</span>
                .dropdown__arrow.arrow
                  i.material-icons expand_more
              span.ui-field-state Expanded
              .dropdown-ul-wrap
                ul
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 3
                    span.dropdown__button.dropdown__button_minus -
                    |Спальни
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 2
                    span.dropdown__button.dropdown__button_minus -
                    |Кровати
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 0
                    span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
                    |Ванные комнаты


        .ui-column
          .ui-form-block
            .ui-dropdown.dropdown.dropdown_big.dropdown_guests.dropdown_open
              h3 Dropdown
              .dropdown__field <span>Сколько гостей</span>
                .dropdown__arrow.arrow
                  i.material-icons expand_more
              .dropdown-ul-wrap
                ul
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 0
                    span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
                    |Взрослые
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 0
                    span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
                    |Дети
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 0
                    span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
                    |Младенцы
                a.link.dropdown__link_clear.link_grey.hidden Очистить
                a.link.dropdown__link_apply.link_colored Применить


        .ui-column
          .ui-form-block
            .ui-dropdown.dropdown.dropdown_big.dropdown_guests.dropdown_open
              h3 Dropdown
              .dropdown__field <span>3 гостя</span>
                .dropdown__arrow.arrow
                  i.material-icons expand_more
              .dropdown-ul-wrap
                ul
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 2
                    span.dropdown__button.dropdown__button_minus -
                    |Взрослые
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 1
                    span.dropdown__button.dropdown__button_minus -
                    |Дети
                  li 
                    span.dropdown__button.dropdown__button_plus +
                    span.dropdown__num 0
                    span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
                    |Младенцы
                a.link.dropdown__link_clear.link_grey Очистить
                a.link.dropdown__link_apply.link_colored Применить

      container.ui-container.ui-form-blocks-3
        .ui-column
          .ui-form-block
            .checkbox-list.ui-checkbox-list
              h3 Expandable checkbox list
              .checkbox-list__arrow.arrow
                i.material-icons expand_more
              ul
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Завтрак
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Письменный стол
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Стул для кормления
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Кроватка
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Телевизор
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Шампунь
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Телевизор
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Шампунь

            .checkbox-list.ui-checkbox-list.checkbox-list_open
              h3 Expandable checkbox list
              .checkbox-list__arrow.arrow
                i.material-icons expand_more
              ul
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Завтрак
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Письменный стол
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Стул для кормления
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox" checked)
                    .checkbox__text Кроватка
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Телевизор
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Шампунь
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Телевизор
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Шампунь

        .ui-column
          .ui-form-block
            .rich-checkbox-list
              h3 Rich checkbox buttons
              ul
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Широкий коридор
                    p Ширина коридоров в номере</br>не менее 91 см
                li
                  label.label.ui-label.label_checkbox
                    input.checkbox(type="checkbox")
                    .checkbox__text Помощник для инвалидов
                    p На 1 этаже вас встретит специалист и проводит до номера

        .ui-column
          .ui-form-block
            h3 Bullet list
            ul.bullet-list
              li Нельзя с питомцами
              li Без вечеринок и мероприятий
              li Время прибытия — после 13:00,</br>а выезд до 12:00

      container.ui-container.ui-form-blocks-4
        .ui-column
          .ui-form-block
            ul.advantages
              li
                i.material-icons.advantage__icon insert_emoticon
                span.advantage__title Комфорт
                span Шумопоглащаюшие стены
              li
                i.material-icons.advantage__icon location_city
                span.advantage__title Удобство
                span Окно в каждой из спален
        .ui-column
          .ui-form-block
            .review.ui-review
              .review__avatar.ui-review__avatar(style=`background-image: url( ${require('./images/avatar.png')})`)
              .like-button-wrap.review__like-button.like-button-wrap_active 
                label.label.ui-label.label_for-like-button
                  input.like-button(type="checkbox" checked)
                  .like-button__text 12
                    .material-icons
              span.review__name Мурад Сарафанов
              span 5 дней назад
              p.review__text Великолепный матрас на кровати в основной спальне! А пуфик вообще потрясающий. И стены, действительно, шумоподавляющие. Выкрикивал комплименты повару — никто не жаловался из соседей.


    section.ui-section.ui-section_grey.cards
      .ui-logo
        include ../../common.blocks/logo/ui-logo.svg
      container.ui-container
        .ui-card
          include ../../components/search-card/search-card.pug


        .ui-card
          include ../../components/check-in-card/check-in-card.pug


        .ui-card
          include ../../components/booking-card/booking-card.pug


        .ui-card
          include ../../components/login-card/login-card.pug


        .ui-card.card.calendar-card#ui-calendar-card
          input#ui-calendar.calendar.ui-calendar


        include ../../components/room-card/room-card.pug
        +room(
            "ui-card ui-room-card_with-arrows", 
            `background-image: url( ${require('./images/room1.png')})`, 
            888,
            9990, 
            5, 
            "rating1_", 
            145, 
            true
          )

        +room(
          "ui-card ui-room-card", 
          `background-image: url( ${require('./images/room2.png')})`, 
          840, 
          9900, 
          4, 
          "rating2_", 
          65, 
          true
        )


    section.ui-section.ui-section_grey.headers-and-footers
      .ui-logo
        include ../../common.blocks/logo/ui-logo.svg


      include ../../components/header/header.pug
      +header(
        "ui-line-block",
      [
        {name: "Home", href: "#", class: "menu__item_active"},
        {name: "About Us", href: "#"},
        {name: "Services", href: "#", arrow: true},
        {name: "Careers", href: "#"},
        {name: "News", href: "#"},
        {name: "Documentation", href: "#"},
      ],
        {name: "Login"}, 
        {name: "Register"}, 
        {name: "Cosmin Negoita", class: "hidden"}
      )


      include ../../components/header/header.pug
      +header(
        "ui-line-block",
        [
          {name: "Home", href: "#", class: "menu__item_active"},
          {name: "About Us", href: "#"},
          {name: "Services", href: "#", arrow: true},
          {name: "Careers", href: "#"},
          {name: "News", href: "#"},
          {name: "Documentation", href: "#"},
        ],
        {name: "Login", class: "hidden"}, 
        {name: "Register", class: "hidden"}, 
        {name: "Cosmin Negoita"}
      )

      include ../../components/footer/footer.pug
      +footer(
        "ui-line-block ui-footer",
        "Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.",
        [
          {title: "Navigation", items: ["About Us", "News", "Support", "Products"]},
          {title: "About Us", items: ["Who we are", "Our team", "Careers", "Investors"]},
          {title: "Support", items: ["Documentation", "Community", "Get in Touch"]}
        ],
        {title: "Subscribe to our newsletter", text: "Receive our latest news and promotions in your inbox!", button_text: "Your email address"},
        "Copyright © 2018 Toxin UI Kit. All rights reserved."
      )


      .ui-line-block
        include ../../components/footer-min/footer-min.pug


    script(src="ui-kit.js")
    script(src="http://localhost:35729/livereload.js")


