doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		meta(name='viemport', content="initial-scale=1.0, width=device-width")
		title UI Kit page
		link(rel="stylesheet" href="style.css")
	body

	<!--------- Variables --------------------->



		section(class="ui-section ui-section_white colors-and-type")
			div(class="ui-logo")
				include ../../common.blocks/logo/ui-logo.pug
			div(class="ui-container")

				div(class="colors")
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 100%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 75%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 50%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 25%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Dark Shade 5%</br><span>#1F2041</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Purple</br><span>#BC9CFF</span>
					div(class="color-item")
						div(class="color-item__square")
						div(class="color-item__desc")
							h2 Green</br><span>#6FCF97</span>

				div(class="fonts")
					div(class="font-item")
						div(class="font-item__tag")
							h1 H1
						h1(class="font-item__desc") This one is the sub-section or widget title
					div(class="font-item")
						div(class="font-item__tag")
							h2 H2
						h2(class="font-item__desc") Next one is the item title inside widgets
					div(class="font-item")
						div(class="font-item__tag")
							h3 H3
						h3(class="font-item__desc") This is a label or cta text
					div(class="font-item")
						div(class="font-item__tag")
							span Body
						span(class="font-item__desc") This is the body text which is used for most</br> of the design, like paragraphs, lists, etc.
		
		section(class="ui-section ui-section_white form-elements")
			div(class="ui-logo")
				include ../../common.blocks/logo/ui-logo.pug
			container(class="ui-container ui-form-blocks-1")
				div(class="ui-column")
					div(class="ui-form-block")
						label(class="label ui-label")
							h3 Text field
							input(class="input input_size_big" placeholder="Email")
							span(class="ui-field-state") Default
						label(class="label ui-label")
							h3 Text field
							input(class="input ui-input_hover input_size_big" placeholder="This is pretty awesome")
							span(class="ui-field-state") Hover / Focus
						label(class="label ui-label")
							h3 Dropdown
							select(class="select select_size_big")
								option(value="" disabled selected hidden) Сколько гостей
								option 1
								option 2
								option 3
								option 4
							div(class="select__arrow")
								i(class="material-icons") expand_more
							span(class="ui-field-state") Default
						label(class="label ui-label")
							h3 Masked text field
							input(class="input input_size_big input_masked_date" placeholder="ДД/ММ/ГГГГ")
							span(class="ui-field-state") Default

					div(class="ui-form-block ui-form-block_inline")
						label(class="label ui-label")
							h3 Date dropdown
							select(class="select select_size_small")
								option(value="" disabled selected hidden) ДД.ММ.ГГГГ
								option 1
								option 2
								option 3
								option 4
							div(class="select__arrow")
								i(class="material-icons") expand_more
						label(class="label ui-label")
							h3 Date dropdown
							select(class="select select_size_small")
								option(value="" disabled selected hidden) 19.08.2019
								option 1
								option 2
								option 3
								option 4
							div(class="select__arrow")
								i(class="material-icons") expand_more

					div(class="ui-form-block")
						label(class="label ui-label")
							h3 Filter date dropdown
							select(class="select select_size_middle")
								option(value="" disabled selected hidden) 19 авг - 23 авг
								option 1
								option 2
								option 3
								option 4
							div(class="select__arrow")
								i(class="material-icons") expand_more

					div(class="ui-form-block")
						label(class="label ui-label")
							h3 Subscription text field
							input(class="input input_size_middle" placeholder="Email")
							div(class="input__arrow")
								i(class="material-icons") arrow_forward

				div(class="ui-column")
					div(class="ui-form-block")
						h3 Checkbox buttons
						label(class="label ui-label label_type_checkbox")
							input(class="input_type_checkbox" type="checkbox")
							div(class="checkbox__text") Можно курить
						label(class="label ui-label label_type_checkbox")
							input(class="input_type_checkbox" type="checkbox" checked)
							div(class="checkbox__text") Можно с питомцами
						label(class="label ui-label label_type_checkbox")
							input(class="input_type_checkbox" type="checkbox" checked)
							div(class="checkbox__text") Можно пригласить гостей </br>(до 10 человек)

					div(class="ui-form-block")
						h3 Radio buttons
						label(class="label ui-label label_type_radio")
							input(class="input_type_radio" type="radio" name="ui-radio" checked)
							div(class="radio__text") Мужчина
						label(class="label ui-label label_type_radio")
							input(class="input_type_radio" type="radio" name="ui-radio")
							div(class="radio__text") Женщина

					div(class="ui-form-block")
						h3 Toggle
						label(class="label ui-label label_type_toggle")
							input(class="input_type_toggle" type="checkbox" checked)
							div(class="toggle__text") Получать спецпредложения
						label(class="label ui-label label_type_toggle")
							input(class="input_type_toggle" type="checkbox")
							div(class="toggle__text") Получать спецпредложения

					div(class="ui-form-block")
						h3 Like button
						div(class="like-button-wrap like-button-wrap_active")
							label(class="label ui-label label_type_like-button")
								input(class="input_type_like-button" type="checkbox")
								div(class="like-button__text") 2
									div(class="material-icons") favorite_border
						div(class="like-button-wrap")
							label(class="label ui-label label_type_like-button")
								input(class="input_type_like-button" type="checkbox" checked)
								div(class="like-button__text") 12
									div(class="material-icons") favorite

					div(class="ui-form-block")
						h3 Rate button
						div(class="rating")
							label(class="label label_type_rating")
								input(class="input_type_rating" name="rating" value="5" id="rating_5" type="radio")
								div(class="rating__star material-icons")
							label(class="label label_type_rating")
								input(class="input_type_rating" name="rating" value="4" id="rating_4" type="radio")
								div(class="rating__star material-icons")
							label(class="label label_type_rating")
								input(class="input_type_rating" name="rating" value="3" id="rating_3" type="radio")
								div(class="rating__star material-icons")
							label(class="label label_type_rating label_type_rating_active")
								input(class="input_type_rating" name="rating" value="2" id="rating_2" type="radio")
								div(class="rating__star material-icons")
							label(class="label label_type_rating")
								input(class="input_type_rating" name="rating" value="1" id="rating_1" type="radio")
								div(class="rating__star material-icons")







				
















				div(class="ui-column")
					div(class="ui-form-block")
						h3 Range slider
						label(class="label ui-label label_type_checkbox")
							input(class="input_type_checkbox" type="checkbox")
							div(class="checkbox__text") Можно курить



		<i class="material-icons">expand_more</i>
		div(class="ui-form-block")
			h3 Checkbox buttons
			label(class="label ui-label label_type_checkbox")
				input(class="input_type_checkbox" type="checkbox")
				div(class="checkbox__text ") Можно курить











		<div class="gradient-box"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent bibendum, lorem vel tincidunt imperdiet, nibh elit laoreet felis, a bibendum nisl tortor non orci. Donec pretium fermentum felis, quis aliquet est rutrum ut. Integer quis massa ut lacus viverra pharetra in eu lacus. Aliquam tempus odio adipiscing diam pellentesque rhoncus. Curabitur a bibendum est. </p></div>
		<script src="ui-kit.js"></script>
		script(src="http://localhost:35729/livereload.js")


