doctype html
html(lang="ru")
	head
		meta(charset = 'utf-8')
		title UI Kit page
		link(rel="stylesheet" href="style.css")
	body
		section.s
			.c
				.a
				.b


		script(src="http://localhost:35729/livereload.js")


