include ../../common.blocks/text-field/text-field
include ../../common.blocks/title/title


mixin date-dropdown({firstDate, lastDate, mask} = {})
    -
        let firstTextField = mask ? Object.assign({}, mask) : {};
        let lastTextField = mask ? Object.assign({}, mask) : {};
        firstTextField['value'] = firstDate.date || false;
        lastTextField['value'] = lastDate.date || false;

    .date-dropdown.js-date-dropdown

        .date-dropdown__dates
            .date-dropdown__first-date.date-dropdown__date(data-date=firstTextField.value)
                if firstDate.title
                    .date-dropdown__title
                        +title(firstDate.title)
                .date-dropdown__text-field
                    +text-field(firstTextField)
                    i.date-dropdown__arrow.material-icons expand_more

            .date-dropdown__last-date.date-dropdown__date(data-date=lastTextField.value)
                if lastDate.title
                    .date-dropdown__title
                        +title(lastDate.title)
                .date-dropdown__text-field
                    +text-field(lastTextField)
                    i.date-dropdown__arrow.material-icons expand_more

        .date-dropdown__calendar-wrap
            .date-dropdown__calendar


//- когда открыто несколько дропдаунов и они наезжают друг на друга, как лучше сделать? По клику на любой дропдаун закрывать все остальные на странице?
//- на filter-date-dropdown и на date-dropdown можно добавить язык в атрибуты, чтоб менять его в функции, добавить?
//- вопрос с js-названиеКласса