include ../text-field/text-field

mixin date-dropdown({firstDate = false, lastDate = false, mask} = {})
    -
        let firstTextField = mask ? Object.assign({}, mask) : {};
        let lastTextField = mask ? Object.assign({}, mask) : {};
        firstTextField['value'] = firstDate.date || false;
        lastTextField['value'] = lastDate.date || false;

    .date-dropdown.js-date-dropdown

        .date-dropdown__first-day.date-dropdown__day(data-date=firstTextField.value)
            if firstDate.title
                h3.date-dropdown__title= firstDate.title
            .date-dropdown__text-field
                +text-field(firstTextField)
                i.date-dropdown__arrow.material-icons expand_more

        .date-dropdown__last-day.date-dropdown__day(data-date=lastTextField.value)
            if lastDate.title
                h3.date-dropdown__title= lastDate.title
            .date-dropdown__text-field
                +text-field(lastTextField)
                i.date-dropdown__arrow.material-icons expand_more

        .date-dropdown__calendar


//- во многих местах добавляю title, здесь мне кажется он точно необходим