.date-dropdown {
  display: flex;
  width: 100%;
  max-width: 320px;
  padding-bottom: 5px;

  &__text-field {
    position: relative;
  }

  &__first-day {
    margin-right: 20px;
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: $c50;
  }

  &__title {
    margin-bottom: 6px;
  }
}