include ../text-field/text-field

mixin date-dropdown(firstDay, lastDay)
    -
        let firstVal = firstDay.date || false;
        let lastVal = lastDay.date || false;
        let first = firstVal ? {value: firstVal} : {isMasked: true};
        let last = lastVal ? {value: lastVal} : {isMasked: true};

    .date-dropdown

        .date-dropdown__first-day.date-dropdown__day
            if firstDay.title
                h3.date-dropdown__title= firstDay.title
            .date-dropdown__text-field
                +text-field(first)
                i.date-dropdown__arrow.material-icons expand_more

        .date-dropdown__last-day.date-dropdown__day
            if lastDay.title
                h3.date-dropdown__title= lastDay.title
            .date-dropdown__text-field
                +text-field(last)
                i.date-dropdown__arrow.material-icons expand_more
