.lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    width: 100%;

    &:nth-child(1) {
      max-width: rem(320px);
      margin-right: rem(40px);
      margin-bottom: rem(20px);
    }

    &:nth-child(2) {
      width: 100%;
      max-width: rem(265px);
      margin-right: rem(40px);
      margin-bottom: rem(20px);
    }

    &:nth-child(3) {
      width: 100%;
      max-width: rem(320px);
      margin-bottom: rem(20px);
    }
  }

  &__list {

    &_close {
      margin-bottom: rem(33px);
    }
  }
}