.lists {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__column {
    width: 100%;

    &:nth-child(1) {
      max-width: 320px;
      margin-right: 40px;
      margin-bottom: 20px;
    }

    &:nth-child(2) {
      width: 100%;
      max-width: 265px;
      margin-right: 40px;
      margin-bottom: 20px;
    }

    &:nth-child(3) {
      width: 100%;
      max-width: 320px;
      margin-bottom: 20px;
    }
  }

  &__list {

    &_close {
      margin-bottom: 33px;
    }
  }
}