.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 10px 20px $c5;

  &__container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 100px 20px 83px 20px;
  }

  &__logo {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
  }

  &__text {
    letter-spacing: -0.1px;
  }

  &__main-info {
    width: 100%;
    max-width: 260px;
    margin-right: 10px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 580px;
    padding-top: 4px;
  }

  &__item {
    padding: 0 20px;
    padding: 0 10px;
    width: 100%;
    max-width: 180px;
    min-width: 100px;
    letter-spacing: -0.1px;
  }

  &__item-title {
    margin-bottom: 18px;
    letter-spacing: -0.3px;
  }

  &__subitem {
    margin-bottom: 14px;
    color: $c50;
    cursor: pointer;
    transition: .2s;

    &:hover {
      color: $c75;
      transition: .2s;
    }
  }

  &__subscription {
    width: 100%;
    max-width: 260px;
    padding-top: 4px;
    margin-left: 10px;
  }

  &__subscription-title {
    margin-bottom: 18px;
    letter-spacing: -0.3px;
  }

  &__subscription-text {
    margin-bottom: 23px;
    letter-spacing: -0.1px;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $c25;
  }

  &__bottom-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 23px 21px 19px 20px;
    flex-wrap: wrap;
  }

  &__copyright {
    min-width: 150px;
    letter-spacing: -0.1px;
  }

  &__link {
    margin-left: 22px;
  }

  &__link-icon {
    font-size: 24px;
    cursor: pointer;
    background: $gradientPrimary;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
  }
}

@media(max-width: 980px) {
  .footer {
    &__menu {
      order: 1;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
    }

    &__container {
      flex-wrap: wrap;
    }

    &__main-info {
      margin-bottom: 40px;
      max-width: none;
      width: 50%;
    }

    &__subscription {
      margin-bottom: 40px;
    }
  }
}

@media(max-width: 600px) {
  .footer {
    &__logo,
    &__text {
      text-align: center;
    }

    &__container {
      justify-content: center;
    }

    &__main-info {
      max-width: none;
      width: 100%;
    }

    &__subscription {
      max-width: none;
      margin-left: 0;

      >* {
        text-align: center;
      }
    }

    &__subscription-text-field {
      width: 100%;
      max-width: 266px;
      margin-left: auto;
      margin-right: auto;
    }

    &__bottom-container {
      flex-wrap: wrap;
      justify-content: center;

      >* {
        width: 100%;
        text-align: center;
      }
    }

    &__copyright {
      margin-bottom: 20px;
    }
  }
}

@media(max-width: 420px) {
  .footer {
    &__menu {
      display: none;
    }

    &__container {
      padding: 50px 20px 26px 20px;
    }
  }
}