include ../components/header/header
include ../components/footer/footer
-
    let options;
    let items;
    let mainClass;

block vars
    - mainClass = 'body';


doctype html
html(lang="ru")
    head
        meta(charset = 'utf-8')
        meta(name='viewport' content="initial-scale=1.0, width=device-width")
        link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
        link(rel="manifest" href="favicon/site.webmanifest")
        link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")

        block head

    body(class=mainClass)

        div(class=mainClass + '__header')
            -
                options = {
                    items: [
                        {text: 'О нас'},
                        {text: 'Услуги', hasSubmenu: true},
                        {text: 'Вакансии'},
                        {text: 'Новости'},
                        {text: 'Соглашения', hasSubmenu: true},
                    ],
                    loginButton: {
                        text: 'Войти', isSecondary: true, isSmall: true
                    },
                    registerButton: {
                        text: 'Зарегистрироваться', isSmall: true 
                    },
                    isMenuItemSlim: true
                }

            +header(options)

        block content

        div(class=mainClass + '__footer')
            -
                options = {
                    text: 'Бронирование номеров в лучшем отеле 2019 года по версии ассоциации «Отельные взгляды»',
                    items: [
                        {title: 'Навигация', subitems: ["О нас", "Новости", "Служба поддержки", "Услуги"]},
                        {title: 'О нас', subitems: ["О сервисе", "Наша команда", "Вакансии", "Инвесторы"]},
                        {title: 'Служба поддержки', subitems: ["Соглашения", "Сообщества", "Связь с нами"]},
                    ],
                    subscription: {
                        title: 'Подписка',
                        text: 'Получайте специальные предложения и новости сервиса',
                        textField: {isSubscription: true, placeholder: 'Email'}
                    },
                    copyright: 'Copyright © 2018 Toxin отель. Все права зачищены.',
                    links: [
                        {name: 'twitter'},
                        {name: 'facebook-square'},
                        {name: 'instagram'}
                    ]
                }
                
            +footer(options)

        block script



//- добавить keywords, description в страницы?