@import '../../scss/_vars';

@import '../../scss/_mixins';

.search-room {

  &__container {
    width: 100%;
    max-width: rem(1200px);
    padding: rem(29px) rem(20px) rem(73px) rem(20px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  &__parameters {
    min-width: rem(286px);
    max-width: rem(286px);
    padding-right: rem(20px);
    margin-bottom: rem(50px);
  }

  &__filter-date-dropdown {
    margin-bottom: rem(20px);
  }

  &__dropdown-guests {
    margin-bottom: rem(30px);
  }

  &__slider-range-text {
    font-size: rem(12px);
    color: $greyOpacity50;
    margin-top: rem(10px);
  }

  &__slider-range {
    margin-bottom: rem(24px);
  }

  &__checkbox-buttons {
    margin-bottom: rem(29px);
  }

  &__rich-checkbox-buttons {
    margin-bottom: rem(30px);
  }

  &__dropdown-furniture {
    margin-bottom: rem(30px);
  }

  &__room-cards-field {
    text-align: center;
    width: 100%;
    max-width: rem(834px);
  }

  &__title {
    width: 100%;
    text-align: left;
    margin-bottom: rem(20px);
  }

  &__room-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: rem(21px);
  }

  &__room-card {
    max-width: rem(270px);
    margin-bottom: rem(19.5px);
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-right: rem(22px);
  }

  &__footer {
    border-top: rem(1px) solid rgba(31, 32, 65, .1);
  }
}

@media (max-width: rem(1155px)) {

  .search-room {

    &__room-card {
      margin-right: rem(10px);
      margin-left: rem(10px);
    }
    
    &__room-cards {
      justify-content: space-around;
    }
  }
}

@media (max-width: rem(875px)) {

  .search-room {

    &__container {
      flex-wrap: wrap;
    }

    &__parameters {
      display: flex;
      flex-wrap: wrap;
      max-width: none;
      width: 100%; 
      padding-right: 0;
      justify-content: center;

      >* {
        width: 100%;
        max-width: rem(266px);
        margin-left: rem(20px);
        margin-right: rem(20px);
      }
    }

    &__title {
      text-align: center;
    }

    &__pagination {
      margin-right: 0;
    }
  }
}

@media (max-width: rem(450px)) {

  .search-room {

    &__parameters {

      >* {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}