extends ../../templates/main

block vars
    - mainClass = 'search-room';


block head
    title Search-room
    link(rel="stylesheet" href="search-room.css")


block content

    -let data = require('./search-room.json')

    include ../../blocks-semantic/room-card/room-card

    include ../../blocks-base/dropdown/dropdown
    include ../../blocks-base/filter-date-dropdown/filter-date-dropdown
    include ../../blocks-base/checkbox-button-list/checkbox-button-list
    include ../../blocks-base/slider-range/slider-range
    include ../../blocks-base/pagination/pagination
    include ../../blocks-base/expandable-checkbox-list/expandable-checkbox-list

    .search-room__container

        .search-room__parameters

            .search-room__filter-date-dropdown
                +filter-date-dropdown(data.filterDateDropdown)

            .search-room__dropdown-guests
                +dropdown(data.dropdownGuests)

            .search-room__slider-range
                +slider-range(data.sliderRange)
                p.search-room__slider-range-text= data.sliderText

            .search-room__checkbox-buttons
                +checkbox-button-list(data.checkboxButtonsList)

            .search-room__rich-checkbox-buttons
                +checkbox-button-list(data.richCheckboxButtons)

            .search-room__dropdown-furniture
                +dropdown(data.dropdownFurniture)

            .search-room__expandable-checkbox-list
                +expandable-checkbox-list(data.expandableCheckboxList)

        .search-room__room-cards-field

            h1.search-room__title= data.cardsFieldTitle

            .search-room__room-cards
            
                each item in data.rooms
                    -
                        let price = ('' + item[3]).slice(0, 1) + 
                            ' ' + ('' + item[3]).slice(1) + '₽';
                        let lux = item[2] ? 'люкс' : false;

                        let options = {
                            image:  'search-room__room-' + item[0] + '.jpg',
                            number: item[1],
                            lux: lux,
                            price: {
                                number: price,
                                text: 'в сутки'
                            },
                            rateButton: {'rate': item[4]},
                            reviews: {
                                number: item[5],
                                text: 'Отзывов'
                            }
                        }
                    
                    .search-room__room-card
                        +room-card(options)

            .search-room__pagination
                +pagination(data.pagination)


block script
    script(src="search-room.js")
