@import '../../scss/_vars';

@import '../../scss/_mixins';

.search-room {

  &__container {
    width: 100%;
    max-width: 1200px;
    padding: 29px 20px 73px 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
  }

  &__parameters {
    min-width: 286px;
    max-width: 286px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  &__filter-date-dropdown {
    margin-bottom: 20px;
  }

  &__dropdown-guests {
    margin-bottom: 30px;
  }

  &__slider-range-text {
    font-size: 12px;
    color: $greyOpacity50;
    margin-top: 10px;
  }

  &__slider-range {
    margin-bottom: 24px;
  }

  &__checkbox-buttons {
    margin-bottom: 29px;
  }

  &__rich-checkbox-buttons {
    margin-bottom: 30px;
  }

  &__dropdown-furniture {
    margin-bottom: 30px;
  }

  &__room-cards-field {
    text-align: center;
    width: 100%;
    max-width: 834px;
  }

  &__title {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
  }

  &__room-cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 21px;
  }

  &__room-card {
    max-width: 270px;
    margin-bottom: 19.5px;
  }

  &__pagination {
    display: flex;
    justify-content: center;
    margin-right: 22px;
  }

  &__footer {
    border-top: 1px solid rgba(31, 32, 65, .1);
  }
}

@media (max-width: 1155px) {

  .search-room {

    &__room-card {
      margin-right: 10px;
      margin-left: 10px;
    }
    
    &__room-cards {
      justify-content: space-around;
    }
  }
}

@media (max-width: 875px) {

  .search-room {

    &__container {
      flex-wrap: wrap;
    }

    &__parameters {
      display: flex;
      flex-wrap: wrap;
      max-width: none;
      width: 100%; 
      padding-right: 0;
      justify-content: center;

      >* {
        width: 100%;
        max-width: 266px;
        margin-left: 20px;
        margin-right: 20px;
      }
    }

    &__title {
      text-align: center;
    }

    &__pagination {
      margin-right: 0;
    }
  }
}

@media (max-width: 450px) {

  .search-room {

    &__parameters {

      >* {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}