include ../../blocks-base/text-field/text-field
include ../../blocks-base/title/title
include ../../blocks-base/calendar/calendar


mixin date-dropdown(options = {})
    -
        let {
            firstDate, 
            lastDate, 
            placeholder = 'DD.MM.YYYY', 
            language = 'en', 
            buttons = ['clear', 'apply'],
        } = options;

        let maskParameters = {
            type: 'date',
            delimiter: '.',
            pattern: ['d', 'm', 'Y']
        };

        let firstTextField = {};
        firstTextField['maskParameters'] = maskParameters;
        firstTextField['value'] = firstDate.date || '';
        firstTextField['placeholder'] = placeholder;

        let lastTextField = {};
        lastTextField['maskParameters'] = maskParameters;
        lastTextField['value'] = lastDate.date || '';
        lastTextField['placeholder'] = placeholder;


    .date-dropdown.js-date-dropdown('data-language'=language 'data-button-to-clear'=buttons[0] 'data-button-to-apply'=buttons[1])

        .date-dropdown__dates
            .date-dropdown__date.date-dropdown__date_order_first.js-date-dropdown__date_order_first(data-date=firstTextField.value)
                if firstDate.title
                    .date-dropdown__title
                        +title(firstDate.title)
                .date-dropdown__text-field
                    +text-field(firstTextField)
                    i.date-dropdown__arrow.js-date-dropdown__arrow.material-icons expand_more

            .date-dropdown__date.date-dropdown__date_order_last.js-date-dropdown__date_order_last(data-date=lastTextField.value)
                if lastDate.title
                    .date-dropdown__title
                        +title(lastDate.title)
                .date-dropdown__text-field
                    +text-field(lastTextField)
                    i.date-dropdown__arrow.js-date-dropdown__arrow.material-icons expand_more

        .date-dropdown__calendar-container
            +calendar("date-dropdown__calendar js-date-dropdown__calendar")
