mixin footer-min({text, links})
    footer.footer-min
        .footer-min__container
            .footer-min__logo
                include ../../images/logo/logo-with-name.svg
            .footer-min__text= text
            .footer-min__links
                each link in links
                    a.footer-min__link(href=link.href  target="_blank" rel="noopener noreferrer")
                        i.footer-min__link-icon.fab(class=`fa-${link.name}`)