include ../../blocks-base/like-button/like-button

mixin review({avatar, likeButton, name, time, text})
	.review
		.review__person
			.review__avatar.ui-review__avatar(style=`background-image: url( ${require('./images/' + avatar)})`)
			span.review__name= name
			span.review__time= time

		.review__comment
			.review__like-button
				+like-button(likeButton)
			p.review__text= text



//- .ui-review__avatar временный класс, чтобы кругные картинки с макета нормально отображались
