.review {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__person {
    margin-bottom: rem(8px);
  }

  &__avatar {
    width: rem(48px);
    height: rem(48px);
    border: rem(2px) solid #FFFFFF;
    box-sizing: border-box;
    box-shadow: rem(0px) rem(10px) rem(20px) rgba(31, 32, 65, .1);
    border-radius: rem(48px);
    float: left;
    margin-right: rem(10px);
  }

  &__name {
    display: block;
    font-weight: 700;
  }

  &__time {
    display: block;
  }
  
  &__comment {
    display: flex;
  }

  &__like-button {
    margin-right: rem(14px);
    margin-left: rem(4px);
    margin-top: rem(4px);
  }

  &__text {
    padding-top: rem(2px);
  }
}

.ui-review__avatar {
  background-position: rem(-22px) rem(-12px);
}
