div(class="wide-block footer-min")
	div(class="footer-min-wrap")
		a(class="footer__logo")
			include ../../common.blocks/logo/logo-with-name.pug
		p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		div(class="social-icons ")
			a(class="social-icon")
				i(class="fa fa-twitter icons_colored")
			a(class="social-icon")
				i(class="fa fa-facebook-official icons_colored")
			a(class="social-icon")
				i(class="fa fa-instagram icons_colored")