.wide-block.footer-min
	.footer-min-wrap.container
		a.footer__logo
			include ../../common.blocks/logo/logo-with-name.svg
		p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis.
		.social-icons 
			a.social-icon
				i.fa.fa-twitter.icons_colored
			a.social-icon
				i.fa.fa-facebook-official.icons_colored
			a.social-icon
				i.fa.fa-instagram.icons_colored