.booking-card {
  padding: 40px 30px 30px 30px;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  min-width: 260px;
  max-width: 380px;

  &__main-info {
    display: flex;
    align-items: flex-end;
    padding-top: 3px;
    margin-bottom: 19px;
  }

  &__number {
    font-size: rem(25px);
    display: inline;
    margin-right: 4px;
  }

  &__simbol-number {
    font-size: rem(13px);
    margin-right: 5px;
  }

  &__class {
    color: $purple;
    text-transform: uppercase;
    font-weight: 700;
    font-size: rem(12px);
  }

  &__price {
    margin-left: auto;
    color: $c50;
    font-size: rem(12px);
  }

  &__price-number {
    margin-right: 4px;
    font-weight: 700;
    font-size: rem(14px);
  }

  &__date-dropdown {
    margin-bottom: 15px;
  }
  
  &__dropdown-title {
    margin-bottom: 5px;
  }

  &__dropdown {
    margin-bottom: 20px;
  }

  &__info {
    margin-bottom: 30px;
  }

  &__info-item {
    display: flex;
    margin-bottom: 15px;
  }

  &__text {
    flex: 1;
    line-height: 18px;
  }

  &__icon-i {
    flex: none;
    width: 20px;
    height: 20px;
    border: 1px solid $c25;
    font-size: rem(12px);
    font-weight: bold;
    color: $c25;
    border-radius: 100px;
    text-align: center;
    line-height: 20px;
    cursor: pointer;  
  }

  &__sum {
    flex: none;
    width: 80px;
    text-align: right;
    line-height: rem(18px);
  }

  &__total {
    margin-bottom: 25px;
    font-weight: 700;
    font-size: rem(20px);

    &:after {
      content: '';
      display: block;
      overflow: hidden;
      height: rem(18px);
      border-bottom: 1px dotted $c25;
    }
  }

  &__total-text {
    float: left;
    margin-right: 2px;
  }

  &__total-sum {
    font-family: 'Quicksand';
    float: right;
    margin-left: 2px;
    font-size: 19px;
  }

  .date-picker-wrapper {
    margin-left: -10px;
  }
}

@media (max-width: 575.98px) {
  .booking-card {
    padding: 25px 20px 20px 20px;
  }
}