.card.booking-card
	.num-and-price-wrap
		.booking-card__room
			h2 №<span class="room__number">888</span>
			a.link.link_colored люкс
		.booking-card__price-per-day
			h3 <span>9 990</span>₽
			span в сутки

	.date-search#booking-card__date-search
		label.label
			h3 Прибытие
			input.input.input_with-mask-date.input_small#booking-card__first-date(placeholder="19.08.2019")
			.input__arrow.arrow
				i.material-icons expand_more
		label.label
			h3 Выезд
			input.input.input_with-mask-date.input_small#booking-card__last-date(placeholder="23.08.2019")
			.input__arrow.arrow
				i.material-icons expand_more

	.dropdown.dropdown_big.dropdown_guests
		h3 Гости
		.dropdown__field <span>3 гостя</span>
			.dropdown__arrow.arrow
				i.material-icons expand_more
		.dropdown-ul-wrap
			ul
				li 
					span.dropdown__button.dropdown__button_plus +
					span.dropdown__num 0
					span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
					|Взрослые
				li 
					span.dropdown__button.dropdown__button_plus +
					span.dropdown__num 0
					span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
					|Дети
				li 
					span.dropdown__button.dropdown__button_plus +
					span.dropdown__num 0
					span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
					|Младенцы
			a.link.dropdown__link_clear.link_grey.hidden Очистить
			a.link.dropdown__link_apply.link_colored Применить

	.booking-info-wrap
		.booking-card__booking-info
			span.booking-info__text <span class="booking-info__price-per-day">9 990</span>₽ х <span class="booking-info__number-of-days">4</span> суток
			span.booking-info__price <span>39 960</span>₽

		.booking-card__booking-info
			span.booking-info__text Сбор за услуги: скидка <span class="booking-info__discount">2 179</span>₽
			.booking-info__icon i
			span.booking-info__price <span>0</span>₽
			
		.booking-card__booking-info
			span.booking-info__text Сбор за дополнительные услуги
			.booking-info__icon i
			span.booking-info__price <span>300</span>₽
			
	.booking-card__total
		h2 Итого
		h2.total__price <span>38 081</span>₽

	.button.button_colored.button_big Забронировать
		.button__arrow.arrow
			i.material-icons arrow_forward