mixin subscription-text-field()
    .subscription-text-field
        label.subscription-text-field__label(for=attributes.name)
        input.subscription-text-field__text-field()&attributes(attributes)
        i.material-icons.subscription-text-field__arrow arrow_forward