.font {
  display: flex;
  
  &__title {
    font-family: 'Montserrat';
    font-weight: 400;
    color: $greyOpacity25;
  }

  &__tag {
    text-align: right;
    width: 50px;
  }

  &__description {
    padding-left: 30px;
    width: 100%;
    max-width: 380px;
  }
}