@import '../../scss/_mixins';

.color {
  display: flex;
  align-items: center;

  &__square {
    width: rem(70px);
    height: rem(70px);
    border-radius: rem(6px);
  }

  &__description {
    padding-left: rem(40px);
    max-width: rem(310px);
  }

  &__title {
    margin-bottom: rem(5px);
  }

  &__text {
    font-family: 'Quicksand';
    font-weight: 400;
    font-size: rem(19px);
  }
}