mixin color({color, opacity = 1, title})
    .color
        .color__square(style=`background-color: ${color}; opacity: ${opacity}`)
        .color__description
            h2.color__title= title
            span.color__text= color