mixin rate-button({rate, iconPositive = 'star', iconNegative = 'star_border'})
	.rate-button
		-let icon;
		-for (let i = 0; i < 5; i++)
			-icon = i < rate ? iconPositive : iconNegative;
			i.rate-button__icon.material-icons= icon