.toggle {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.toggle__text {

      &:before {
        border-color: $primary;      
      }

      &:after {
        left: rem(24px);
        background: $gradientPrimary;
        transition: .2s;      
      }
    }
  }

  &__label {
    height: rem(20px);
  }

  &__text {
    position: relative;
    padding: 0 0 0 rem(50px);
    cursor: pointer;
    line-height: rem(20px);
  
    &:before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: rem(40px);
      height: rem(20px);
      border-radius: rem(10px);
      background: #fff;
      transition: .2s;
      border: rem(1px) solid $greyOpacity25;
    }
  
    &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(5px);
      width: rem(12px);
      height: rem(12px);
      border-radius: rem(10px);
      background: linear-gradient(180deg, $greyOpacity25 0%, $greyOpacity25 100%);
      transition: .2s;
    }
  }
}