.toggle {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.toggle__text {

      &:before {
        border-color: $primary;      
      }

      &:after {
        left: 24px;
        background: $gradientPrimary;
        transition: .2s;      
      }
    }
  }

  &__label {
    height: 20px;
  }

  &__text {
    position: relative;
    padding: 0 0 0 50px;
    cursor: pointer;
    line-height: 20px;
  
    &:before {
      box-sizing: border-box;
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 40px;
      height: 20px;
      border-radius: 10px;
      background: #fff;
      transition: .2s;
      border: 1px solid $c25;
    }
  
    &:after {
      box-sizing: border-box;
      content: "";
      position: absolute;
      top: 4px;
      left: 5px;
      width: 12px;
      height: 12px;
      border-radius: 10px;
      background: linear-gradient(180deg, $c25 0%, $c25 100%);
      transition: .2s;
    }
  }
}