include ../../blocks-base/text-field/text-field
include ../../blocks-base/title/title
include ../../blocks-base/calendar/calendar

mixin filter-date-dropdown(options = {})
    -
        let {
            title, 
            firstDate, 
            lastDate, 
            textField, 
            language = 'en', 
            buttons = ['clear', 'apply']
        } = options;

    .filter-date-dropdown.js-filter-date-dropdown(data-first-date=firstDate data-last-date=lastDate 'data-language'=language 'data-button-to-clear'=buttons[0] 'data-button-to-apply'=buttons[1])
        if title
            .filter-date-dropdown__title
                +title(title)
        .filter-date-dropdown__text-field
            +text-field(textField)
            i.filter-date-dropdown__arrow.js-filter-date-dropdown__arrow.material-icons expand_more

        .filter-date-dropdown__calendar-container
            +calendar('filter-date-dropdown__calendar js-filter-date-dropdown__calendar')


