.filter-date-dropdown {
  width: 100%;
  max-width: 266px;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__text-field {
    position: relative;
  }

  &__arrow {
    position: absolute;
    top: 0;
    right: 0;
    padding: 10px;
    cursor: pointer;
    color: $c50;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__calendar-container {
    position: relative;
    width: 100%;
  }

  &__calendar {
    position: absolute;
    top: 5px;
    left: 0;
    width: 100%;

    &_open {
      z-index: 101;
    }
  }
}

@media (max-width: 410px) {
  .filter-date-dropdown {
    &__calendar-container {
      z-index: 100;
    }

    &__calendar {
      left: 50%;
      transform: translateX(-140px);
    }
  }
}