mixin pagination(items, max, page)
	-let text = ''
	-let num = items*(page - 1) + 1;
	-text = text + num + ' - ';
	-num = num + items - 1;
	-text = text + num + ' из ';
	-num = max < 100 ? num : '100+';
	-text = text + num;
	.pagination
	i.pagination__arrow.material-icons arrow_forward
	.pagination__text #{text} вариантов аренды