extends ../../templates/ui-kit

block vars
    - mainClass = 'form-elements';


block head
    title Form elements
    link(rel="stylesheet" href="form-elements.css")


block content

    - data = require('./form-elements.json');

    include ../../blocks-base/icon-text-list/icon-text-list
    include ../../blocks-base/review/review

    //- ui blocks
    include ../../blocks-ui/fields/fields
    include ../../blocks-ui/switches/switches
    include ../../blocks-ui/buttons-and-other/buttons-and-other
    include ../../blocks-ui/dropdowns/dropdowns
    include ../../blocks-ui/lists/lists

    
    .form-elements__container.form-elements__container_first
        .form-elements__fields
            +fields(data.fields)

        .form-elements__switches
            +switches(data.switches)

        .form-elements__buttons-and-other
            +buttons-and-other(data.buttonsAndOther)


    .form-elements__container.form-elements__container_dropdowns
        +dropdowns(data.dropdowns)


    .form-elements__container.form-elements__container_lists
        +lists(data.lists)


    .form-elements__container.form-elements__container_first
        .form-elements__icon-text-list
            +icon-text-list(data.iconTextList)

        .form-elements__review
            +review(data.review)


block script
    script(src='./form-elements.js')
