doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content="initial-scale=1.0, width=device-width")
        title Form elements
        link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
        link(rel="manifest" href="favicon/site.webmanifest")
        link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="form-elements.css")
    body
        -let options;

        include ../../common.blocks/text-field/text-field
        include ../../common.blocks/dropdown/dropdown
        include ../../common.blocks/date-dropdown/date-dropdown
        include ../../common.blocks/filter-date-dropdown/filter-date-dropdown
        include ../../common.blocks/subscription-text-field/subscription-text-field

        include ../../common.blocks/checkbox-buttons/checkbox-buttons
        include ../../common.blocks/radio-buttons/radio-buttons
        include ../../common.blocks/toggle/toggle
        include ../../common.blocks/like-button/like-button
        include ../../common.blocks/rate-button/rate-button


        include ../../common.blocks/slider-range/slider-range
        include ../../common.blocks/button/button
        include ../../common.blocks/pagination/pagination
        include ../../common.blocks/expandable-checkbox-list/expandable-checkbox-list
        include ../../common.blocks/rich-checkbox-buttons/rich-checkbox-buttons
        include ../../common.blocks/bullet-list/bullet-list
        

        section.form-elements
            .form-elements__logo
                include ../../common.blocks/logo/ui-logo.svg
            .form-elements__container.form-elements__container-1
                .form-elements__column-1-1

                    .text-field-wrap.text-field-wrap-1
                        h3.text-field-wrap__title Text field
                        .text-field-wrap__state Default
                        +text-field()(name='ui-text-field', type='email', placeholder='Email')

                    .text-field-wrap.text-field-wrap_hover.text-field-wrap-2
                        h3.text-field-wrap__title Text field
                        .text-field-wrap__state Hover / Focus
                        +text-field()(name='ui-text-field_hover', type='text', value='This is pretty awesome')

                    .dropdown-wrap.dropdown-wrap-1
                        h3.dropdown-wrap__title Dropdown
                        .dropdown-wrap__state Default
                        +dropdown('guests', true)

                    .text-field-wrap.text-field-wrap-3
                        h3.text-field-wrap__title Masked text field
                        .text-field-wrap__state Default
                        +text-field(true)(name='ui-text-field_masked', type='text')

                    .date-dropdown-wrap
                        +date-dropdown('ui-date-dropdown-1', '', '19.08.2019', 'Date dropdown','Date dropdown')

                    .filter-date-dropdown-wrap
                        +filter-date-dropdown('ui-filter-date-dropdown-1', '19 авг - 23 авг', 'Filter date dropdown')

                    .subscription-text-field-wrap
                        h3.subscription-text-field__title Subscription text field
                        +subscription-text-field()(name='ui-subscription-text-field', type='email' placeholder='Email')

                .form-elements__column-1-2

                    .checkbox-buttons-wrap
                        -options = [
                        -    {text: 'Можно курить', name: 'smoking', checked: false},
                        -    {text: 'Можно с питомцами', name: 'pets', checked: true},
                        -    {text: 'Можно пригласить гостей (до 10 человек)', name: 'guests', checked: true}
                        -]

                        +checkbox-buttons('Checkbox buttons', options)

                    .radio-buttons-wrap
                        -options = [
                        -    {text: 'Мужчина', checked: true},
                        -    {text: 'Женщина', checked: false}
                        -]

                        +radio-buttons('Radio buttons', 'gender', options)

                    .toggles-wrap
                        h3.toggles-wrap__title Toggle
                        .toggle-wrap
                            +toggle(false,'Получать спецпредложения', true)
                        .toggle-wrap
                            +toggle(false,'Получать спецпредложения', false)

                    .like-buttons-wrap
                        h3.like-buttons-wrap__title Like button
                        .like-button-wrap
                            +like-button(2, false)
                        .like-button-wrap
                            +like-button(12, true)

                    .rate-buttons-wrap
                        h3.rate-buttons-wrap__title Rate button
                        .rate-button-wrap
                            +rate-button('ui-rate-1', 4)
                        .rate-button-wrap
                            +rate-button('ui-rate-2', 5)

                .form-elements__column-1-3

                    .slider-range-wrap
                        +slider-range('Slider range')

                    h3.buttons-wrap__title Buttons
                    .colored-buttons-wrap.buttons-wrap
                        .button-wrap
                            +button({type: 'filled'})
                        .button-wrap
                            +button({type: 'filled'})
                    .not-colored-buttons-wrap.buttons-wrap
                        .button-wrap
                            +button({type: 'empty'})
                        .button-wrap
                            +button({type: 'empty'})
                    .textual-buttons-wrap.buttons-wrap
                        .button-wrap
                            +button()
                        .button-wrap
                            +button({textColor: 'grey'})
                    .big-buttons-wrap.buttons-wrap
                        .button-wrap
                            +button({type: 'empty', extended: true, text: 'Перейти к оплате'})
                    .big-buttons-wrap.buttons-wrap
                        .button-wrap
                            +button({type: 'filled', extended: true, size: 'small', text: 'Перейти к оплате'})
                    .big-buttons-wrap.buttons-wrap
                        .button-wrap
                            +button({type: 'empty', extended: true, size: 'small', text: 'Перейти к оплате'})
                    .big-buttons-wrap.buttons-wrap
                        .button-wrap
                            +button({type: 'filled', extended: true, text: 'Перейти к оплате'})



                    .pagination-wrap
                        h3.pagination-wrap__title Pagination
                        +pagination(12, 101, 1)



            .form-elements__container.form-elements__container-2
                .form-elements__column-2-1

                    .dropdown-wrap.dropdown-wrap-2
                        h3.dropdown-wrap__title Dropdown
                        .dropdown-wrap__state Default
                        +dropdown('furniture', false, false)

                    .dropdown-wrap.dropdown-wrap-3
                        h3.dropdown-wrap__title Dropdown
                        .dropdown-wrap__state Expanded
                        +dropdown('furniture', false, true)

                .form-elements__column-2-2
                    .dropdown-wrap.dropdown-wrap-4
                        h3.dropdown-wrap__title Dropdown
                        +dropdown('guests', ['Очистить', 'Применить'], true)

                .form-elements__column-2-3
                    .dropdown-wrap.dropdown-wrap-5
                        h3.dropdown-wrap__title Dropdown
                        +dropdown('guests', ['Очистить', 'Применить'], true)



            .form-elements__container.form-elements__container-3
                .form-elements__column-3-1
                    -options = [
                    -    {text: 'Завтрак', checked: false},
                    -    {text: 'Письменный стол', checked: true},
                    -    {text: 'Стул для кормления', checked: true},
                    -    {text: 'Кроватка', checked: true},
                    -    {text: 'Телевизор', checked: false},
                    -    {text: 'Шампунь', checked: false},
                    -    {text: 'Телевизор', checked: false},
                    -    {text: 'Шампунь', checked: false},
                    -]

                    .expandable-checkbox-list-wrap-1
                        +expandable-checkbox-list('Expandable checkbox list', options)

                    .expandable-checkbox-list-wrap-2
                        +expandable-checkbox-list('Expandable checkbox list', options, true)

                .form-elements__column-3-2
                    .rich-checkbox-buttons-wrap
                        -options = [
                        -    {title: 'Широкий коридор', text: 'Ширина коридоров в номере не менее 91 см.'},
                        -    {title: 'Помощник для инвалидов', text: 'На 1 этаже вас встретит специалист и проводит до номера.'}
                        -]

                        +rich-checkbox-buttons('Rich checkbox buttons', options)

                .form-elements__column-3-3
                    .bullet-list-wrap
                        -options = [
                        -    'Нельзя с питомцами',
                        -    'Без вечеринок и мероприятий',
                        -    'Время прибытия — после 13:00, а выезд до 12:00'
                        -]
                        +bullet-list('Bullet list', options)



            .form-elements__container.form-elements__container-4
                .form-elements__column-4-1
                .form-elements__column-4-2

        
        script(src='./form-elements.js')