.twin-radio-buttons {
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: rem(14px);
  }

  &__button {
    display: inline-block;

    &:not(:last-child) {
      margin-right: rem(17px);
    }
  }
}