.button {
  cursor: pointer;
  display: flex;
  position: relative;
  transition: .2s;
  justify-content: center;
  border-radius: 100px;
  background: $gradientPrimary;
  padding: 2px;
  border: none;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }  

  &:hover,
  &:active,
  &:focus {
    font-style: normal;
    font-weight: bold;
    transition: .2s;
    opacity: .5;
  }

  &__content {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem(12px);
    line-height: 16px;
    font-family: "Montserrat";
    color: #fff;
    padding: 12px 17px;
    min-width: 95px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: inherit;
    color: #fff;
  }

  &_secondary {

    .button__content {
      border-radius: inherit;
      background: #fff;
      color: $primary;
      z-index: 1;
    }

    &:before {
      content: "";
      border-radius: 100px;
      background-color: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      opacity: 0;
      transition: .2s;
    }

    &:hover,
    &:active,
    &:focus {
      opacity: 1;

      &:before {
        opacity: .5;
        transition: .2s;
      }
    }
  }

  &_extended {
    width: 100%;
    max-width: 320px;
  }

  &_small {
    padding: 2px;
    
    .button__content {
      padding: 7px 17px;
      min-width: 0;
    }    
  }
}