mixin button({text, isSecondary, isExtended, isSmall, type} = {})
	-
		text = text || 'Click me';
		type = type || 'button';
		let secondary = isSecondary ? 'button_secondary' : false;
		let extended = isExtended ? 'button_extended' : false;
		let small = isSmall ? 'button_small' : false;

	button.button(class=[secondary, extended, small] type=type)= text
		if (extended != false)
			i.button__arrow.material-icons arrow_forward

