.button {
  display: flex;
  justify-content: center;
  border-radius: rem(22px);
  background-image: linear-gradient(180deg, #bc9cff 0%, #8ba4f9 100%);
  color: white;
  padding: rem(14px) rem(20px);
  box-sizing: border-box;
  background-clip: border-box;
  border: rem(0px);
  text-transform: uppercase;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: rem(12px);
  transition: .2s;

  &:hover {
    opacity: .5;
    transition: .2s;
  }

  &:active,
  &:focus {
    outline: rem(2px) solid rgba($secondary, .3);
    transition: outline 0s;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: rem(10px);
    color: inherit;
    color: #fff;
  }

  &_secondary {
    padding: 0;
    color: #BC9CFF;
    background-image: linear-gradient(white, white), $gradientPrimary;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    -webkit-background-clip: padding-box, border-box;
    border: solid rem(2px) transparent;
    padding: rem(12px) rem(18px);

    &:hover {
      opacity: 1;
      background-image: linear-gradient(white, white), $gradientPrimarySemitransparent;
      transition: .2s;
    }
  }

  &_extended {
    width: 100%;
    max-width: rem(320px);
    position: relative;
    padding-right: rem(20px);
  }

  &_small {

    &.button {
      padding: rem(10px) rem(19px);

      &_secondary {
        padding: rem(8px) rem(18px);
      }
    }
  }
}