extends ../../templates/main

block vars
    - mainClass = 'registration';


block head
    title Registration
    link(rel="stylesheet" href="registration.css")


block content

    - let data = require('./registration.json');

    include ../../blocks-semantic/login-card/login-card
    include ../../blocks-semantic/check-in-card/check-in-card

    .registration__front(style=`background-image: url( ${require('./images/' + data.image)})`)

        .registration__container

            - 
                let checkIn = data.isLogin ? 'registration__card_hidden' : false;
                let login = !data.isLogin ? 'registration__card_hidden' : false;

            .registration__card.js-registration__card

                .registration__check-in-card(class=checkIn)
                    +check-in-card(data.checkInCard)

                .registration__login-card(class=login)
                    +login-card(data.loginCard)


block script
    script(src="registration.js")
