extends ../../templates/main

block vars
    - mainClass = 'registration';


block head
    title Registration
    link(rel="stylesheet" href="registration.css")


block content
    include ../../components/login-card/login-card
    include ../../components/check-in-card/check-in-card

    .registration__front(style=`background-image: url( ${require('./images/registration__front.jpg')})`)
        .registration__container
            .registration__check-in-card.registration__card.js-registration__card
                -
                    options = {
                        title: 'Регистрация аккаунта',
                        textFieldName: {placeholder: 'Имя', name: 'Name'},
                        textFieldSurname: {placeholder: 'Фамилия', type: 'Surname'},
                        radioButtons: {
                            name: 'gender',
                            items: [
                                {text: 'Мужчина', isChecked: true},
                                {text: 'Женщина'}
                            ]
                        },
                        textFieldBirthday: {
                            maskParameters: {
                                type: 'date',
                                delimiter: '.',
                                pattern: ['d', 'm', 'Y']
                            },
                            placeholder: 'ДД.ММ.ГГГГ',
                            title: 'Дата рождения'
                        }, 
                        credentialsTitle: 'Данные для входа в сервис', 
                        textFieldEmail: {placeholder: 'Email', type: 'email', name: 'Email'}, 
                        textFieldPassword: {placeholder: 'Пароль', type: 'password', name: "Password"}, 
                        toggle: {text: 'Получать спецпредложения'}, 
                        button: {
                            text: 'Перейти к оплате',
                            appearance: 'filled',
                            isExtended: true
                        }, 
                        enter: {
                            text: 'Уже есть аккаунт на Toxin',
                            button: {
                                isSecondary: true, 
                                text: 'Войти'
                            }
                        }
                    }

                +check-in-card(options)

            .registration__login-card.registration__card.registration__card_hidden.js-registration__card
                -
                    options = {
                        title: 'Войти',
                        textFieldEmail: {
                            placeholder: 'Email', type: 'email', name: 'Email'
                        },
                        textFieldPassword: {
                            placeholder: 'Пароль', type: 'password', name: 'Password'
                        },
                        button: {text: 'Войти', appearance: 'filled', isExtended: true},
                        enter: {
                            text: 'Нет аккаунта на Toxin?',
                            button: {
                                text: 'Создать',
                                isSecondary: true
                            }
                        }
                    }

                +login-card(options)


block script
    script(src="registration.js")
