	div(class=" button button_color_filled button_size_middle" ) Click me

	div(class="button button_color_filled button_size_middle ui-button_state_not-active") Click me

	div(class="button-wrap button_size_middle")
		div(class="ui-button button button_color_empty") Click me

	div(class="button-wrap button_size_middle")
		div(class="ui-button button button_color_empty ") Click me

/*--------  Link styles in link folder -----------*/

	a(class="ui-link link link_color_bright") Click me
	a(class="ui-link link link_color_grey") Click me

	div(class="button button_color_filled button_size_big") Перейти к оплате
		div(class="button__arrow arrow")
			i(class="material-icons") arrow_forward