.button {
  cursor: pointer;
  display: flex;
  position: relative;
  transition: .2s;
  justify-content: center;
  border-radius: 100px;
  background: $gradient;
  padding: 2px;

  &:hover,
  &:active,
  &:focus {
    font-style: normal;
    font-weight: bold;
    transition: .2s;
    opacity: 0.5;
  }

  &__content {
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    font-size: rem(12px);
    line-height: 16px;
    font-family: 'Montserrat';
    color: #fff;
    padding: 12px 17px;
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
    color: inherit;
    color: #fff;
  }

  &_secondary {
    .button__content {
      border-radius: inherit;
      background: #fff;
      color: $purple;
    }
  }

  &_extended {
    width: 100%;
    max-width: 320px;
  }

  &_small {
    padding: 1px;
    
    .button__content {
      padding: 7px 13px;
    }    
  }
}