.button {
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem(12px);
  border: none;
  cursor: pointer;
  display: inline-flex;
  position: relative;
  transition: .2s;
  justify-content: center;
  border-radius: 100px;
  font-family: 'Montserrat';

  &:hover,
  &:active,
  &:focus {
    font-style: normal;
    font-weight: bold;
    transition: .2s;
  }

  &__arrow {
    color: #fff;
    position: absolute;
    top: 10px;
    right: 10px;
  }

  &_filled {
    background: $gradient;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      opacity: .5;
    }
  }

  &_empty {
    color: $purple;
    background: #fff;
    background-clip: padding-box;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      border-radius: inherit;
      background: $gradient;
      transition: inherit;
    }

    &:hover,
    &:active,
    &:focus {
      color: rgba($purple, .5);

      &:before {
        opacity: 0.5;
        transition: inherit;
      }
    }
  }

  &_textual {
    background-color: transparent;
    padding: 0;

    &:hover,
    &:active,
    &:focus {
      opacity: .5;
    }
  }

  &_big {
    width: 100%;
    max-width: 320px;
    padding: 14px 20px;
    background: $gradient;
    color: #fff;

    &:hover,
    &:active,
    &:focus {
      opacity: .5;
    }
  }

  &_standard {
    &.button_filled {
      padding: 14px 20px;
    }

    &.button_empty {
      padding: 12px 18px;
      $border: 2px;
      border: solid $border transparent;

      &:before {
        margin: -$border;
      }
    }
  }

  &_small {
    &.button_filled {
      padding: 12px 18px;
    }

    &.button_empty {
      padding: 11px 17px;
      $border: 1px;
      border: solid $border transparent;

      &:before {
        margin: -$border;
      }
    }
  }

  &_bright-text {
    color: $purple;
  }

  &_grey-text {
    color: $c50;
  }
}