mixin button(args = {text, type, extended, textColor, size})
	- let text = args.text || 'Click me';
	- let type = args.type ? 'button_' + args.type : false;
	- let extended = args.extended ? 'button_extended' : false;
	- let textColor = args.textColor ? 'button_with-' + args.textColor + '-text' : 'button_with-bright-text';
	- let size = args.size ? 'button_' + args.size : 'button_standard';

	- extended = type ? extended : false;
	- textColor = !type ? textColor : false;
	- size = type ? size : false;

	button.button(class=[type, extended, textColor, size])= text
		if (extended != false)
			i.button__arrow.material-icons arrow_forward

		
