
mixin button({text, appearance, isExtended, size, textColor})
	-
		let config;
		config = {
			appearance : {
				filled: 'button_filled',
				bordered: 'button_bordered'			
			},
			size : {
				standard: 'button_standard',
				small: 'button_small'
			},
			textColor : {
				bright: 'button_with-bright-text',
				grey: 'button_with-grey-text'
			}
		};
		
		text = text || 'Click me';
		appearance = config.appearance[appearance] || false;
		let extended = isExtended ? 'button_extended' : false;
		size = config.size[size] || 'button_standard';
		textColor = config.textColor[textColor] || 'button_with-bright-text';

		extended = appearance ? extended : false;
		size = appearance ? size : false;
		textColor = !appearance ? textColor : false;

	button.button(class=[appearance, extended, size, textColor])= text
		if (extended != false)
			i.button__arrow.material-icons arrow_forward

		
