.bullet-list {
  box-sizing: border-box;
  
  * {
    box-sizing: border-box;
  }

  &__title {
    margin-bottom: rem(13px);
  }
  
  &__item {
    margin-bottom: rem(10px);
    padding-left: rem(21px);
    position: relative;

    &:before {
      content: '';
      position: absolute;
      width: rem(10px);
      height: rem(10px);
      left: rem(0px);
      top: rem(6px);
      background-color: $c25;
      border-radius: rem(100px);
    }
  }
}