include ../../common.blocks/like-button/like-button

mixin review({avatar, likeButton, name, time, comment})
	.review
		.review__left-part
			.review__avatar.ui-review__avatar(style=`background-image: url( ${require('./images/' + avatar)})`)
			.review__like-button
				+like-button(likeButton.number, likeButton.isChecked)

		.review__right-part
			span.review__name= name
			span.review__time= time
			p.review__comment= comment




//- .ui-review__avatar временный класс, чтобы кругные картинки с макета нормально отображались
