h3 Like button
.like-button-wrap.like-button-wrap_active
	label.label.label_for-like-button
		input.like-button(type="checkbox")
		.like-button__text 2
			.material-icons favorite_border
.like-button-wrap
	label.label.label_for-like-button
		input.like-button(type="checkbox" checked)
		.like-button__text 12
			.material-icons favorite