h3 Like button
div(class="like-button-wrap like-button-wrap_active")
	label(class="label label_like-button")
		input(class="like-button" type="checkbox")
		div(class="like-button__text") 2
			div(class="material-icons") favorite_border
div(class="like-button-wrap")
	label(class="label label_like-button")
		input(class="like-button" type="checkbox" checked)
		div(class="like-button__text") 12
			div(class="material-icons") favorite