.pagination {
  box-sizing: border-box;
  width: rem(242px);

  * {
    box-sizing: border-box;
  }

  &__arrow {
    width: rem(40px);
    height: rem(40px);
    background: $gradientSecondary;
    border-radius: rem(100px);
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: rem(40px);

    &:hover {
      opacity: .5;
      transition: .2s;
    }   
  }

  &__text {
    margin: rem(7px) 0 0 rem(7px);
  }


  // libs styles
  .simple-pagination {

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    li {

      > * {
        padding: 0 rem(10px);
        text-decoration: none;
        font-size: rem(12px);
        color: $c50;
      }

      &:first-child {
        display: none;
      }
    }

    .active {

      > * {
        display: block;
        width: rem(40px);
        height: rem(40px);
        background: $gradientPrimary;
        border-radius: rem(100px);
        line-height: rem(40px);
        text-align: center;
        color: #fff;
        margin: 0;      
        padding: 0;  
      }
    }

    .next {
      margin: 0;
      padding: 0;
    }

    .prev {
      display: none;
    }
  }
}