.pagination {
  box-sizing: border-box;
  width: 242px;

  * {
    box-sizing: border-box;
  }

  &__arrow {
    width: 40px;
    height: 40px;
    background: $gradientSecondary;
    border-radius: 100px;
    color: #fff;
    text-align: center;
    cursor: pointer;
    line-height: 40px;

    &:hover {
      opacity: .5;
      transition: .2s;
    }   
  }

  &__text {
    margin: 7px 0 0 7px;
  }


  // libs styles
  .simple-pagination {

    ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }

    li {

      > * {
        padding: 0 10px;
        text-decoration: none;
        font-size: rem(12px);
        color: $c50;
      }

      &:first-child {
        display: none;
      }
    }

    .active {

      > * {
        display: block;
        width: 40px;
        height: 40px;
        background: $gradientPrimary;
        border-radius: 100px;
        line-height: 40px;
        text-align: center;
        color: #fff;
        margin: 0;      
        padding: 0;  
      }
    }

    .next {
      margin: 0;
      padding: 0;
    }

    .prev {
      display: none;
    }
  }
}