.radio-button {
  display: inline-block;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: rem(10px) 0 0 rem(7px);

    &:checked+.radio-button__text:after {
      opacity: 1;
    }

    &:focus+.radio-button__text:before {
      border-color: $primary;
    }

    &:checked+.radio-button__text {
      color: $c75;
    }
  }

  &__text {
    position: relative;
    padding: 0 0 0 rem(30px);
    cursor: pointer;
    color: $c50;

    &:before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: rem(20px);
      height: rem(20px);
      border: rem(1px) solid $c25;
      border-radius: 50%;
      background: #FFF;
    }

    &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      top: rem(4px);
      left: rem(4px);
      width: rem(12px);
      height: rem(12px);
      border-radius: 50%;
      background: $gradientPrimary;
      opacity: 0;
      transition: .2s;
    }
  }
}