.header {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: rem(0px) rem(10px) rem(20px) $greyOpacity5;

  &__container {
    width: 100%;
    max-width: rem(1200px);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: rem(12px) rem(20px);
    position: relative;
  }

  &__logo {
    position: relative;
    top: rem(3px);
    cursor: pointer;
  }

  &__menu {
    display: flex;
    justify-content: flex-end;
  }

  &__menu-items {
    display: flex;
    margin-right: rem(17px);
    align-self: flex-end;
    height: 100%;
  }

  &__menu-item {
    display: flex;
    align-self: center;
    padding: rem(3px) rem(5.9px) rem(4px);
    margin: rem(0px) rem(8px);
    cursor: pointer;
    color: $greyOpacity50;
    transition: .2s;

    &:hover {
      color: $greyOpacity75;
      transition: .2s;
    }

    &_slim {
      margin: rem(0px) rem(5px);
    }

    &_active {
      font-weight: 700;
    }

    &_with-arrow {
      margin-right: rem(0px);
    }
  }

  &__buttons {
    display: flex;
    align-self: center;
  }

  &__button {
    text-align: center;
  }

  &__login-button {
    margin-right: rem(21px);
  }

  &__user {
    display: flex;
    align-self: center;

    &:before {
      content: '';
      display: block;
      width: rem(1px);
      height: rem(30px);
      margin-top: rem(6px);
      background-color: $greyOpacity5;
    }
  }

  &__user-name {
    padding: rem(3px) rem(0px) rem(4px) rem(5.9px);
    line-height: rem(30px);
    margin-left: rem(25px);
    cursor: pointer;
    color: $greyOpacity50;
    transition: .2s;

    &:hover {
      color: $greyOpacity75;
      transition: .2s;
    }
  }

  &__user-icon {
    display: none;
    line-height: rem(43px);
    font-size: rem(24px);
    background: $gradientPrimary;
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  &__hamburger {
    cursor: pointer;
    display: none;

    &_active {

      .header__hamburger-line {

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(1) {
          -webkit-transform: translateY(11px) rotate(45deg);
          -ms-transform: translateY(11px) rotate(45deg);
          -o-transform: translateY(11px) rotate(45deg);
          transform: translateY(11px) rotate(45deg);
        }

        &:nth-child(3) {
          -webkit-transform: translateY(-13px) rotate(-45deg);
          -ms-transform: translateY(-13px) rotate(-45deg);
          -o-transform: translateY(-13px) rotate(-45deg);
          transform: translateY(-13px) rotate(-45deg);
        }
      }
    }
  }

  &__hamburger-line {
    width: rem(30px);
    height: rem(2px);
    background-color: $greyOpacity25;
    display: block;
    margin: rem(10px) auto;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
  }
}


@media (max-width: rem(992px)) {

  .header {

    &__hamburger {
      display: block;
    }

    &__menu {
      position: absolute;
      z-index: 101;
      right: rem(10px);
      top: rem(83px);
      background-color: #fff;
      padding: rem(20px);
      width: 100%;
      max-width: rem(300px);
      flex-wrap: wrap;
      justify-content: center;
      box-shadow: rem(0px) rem(10px) rem(20px) $greyOpacity5;
      border: rem(1px) solid $greyOpacity25;
      border-radius: rem(4px);
      display: none;
    }

    &__menu-nav {
      width: 100%;
    }

    &__menu-items {
      width: 100%;
      display: block;
      padding: 0 rem(10px);
      margin-bottom: rem(40px);
    }

    &__menu-item {
      width: 100%;
      border-bottom: rem(1px) solid $greyOpacity5;
      margin-left: 0;
      padding-left: rem(20px);
      margin-bottom: rem(10px);
    }

    &__buttons {
      justify-content: center;
      flex-wrap: wrap;
    }

    &__button {
      margin: rem(10px);
    }

    &__user {
      justify-content: center;

      &:before {
        display: none;
      }
    }

    &__user-name {
      margin-left: 0;
    }

    &__user-icon {
      display: block;
    }
  }
}