.expandable-checkbox-list {
  position: relative;
  width: 266px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  .checkbox-buttons {
    background-color: #fff;
    display: none;
  }

  &__title {
    margin-bottom: 17px;
  }

  &__arrow {
    padding: 0 10px;
    transition: .2s;
    line-height: 15px;
    cursor: pointer;
    margin-bottom: 17px;
  }

  &_open {
    .checkbox-buttons {
      display: block;
    }

    .expandable-checkbox-list {
      max-height: 300px;

      &__arrow {
        transform: scale(1, -1);
        transition: .2s;
      }
    }
  }
}