mixin checkbox-buttons(title, items)

	.checkbox-buttons
		if title
			h3.checkbox-buttons__title= title

		ul
			each item in items
				li.checkbox-button
					label.checkbox-button__label
						input.checkbox-button__input(type="checkbox" name=item.name checked=item.isChecked)
						.checkbox-button__text= item.text