label(class="label")
	h3 Text field
	input(class="input input_size_big" placeholder="Email")


label(class="label")
	h3 Masked text field
	input(class="input input_size_big input_masked_date" placeholder="ДД.ММ.ГГГГ")


div(class="date-search" id="date-search" )
	label(class="label")
		h3 Date dropdown
		input(class="input input_size_small calendar" id="first-date" placeholder="ДД.ММ.ГГГГ")
		div(class="input__arrow arrow")
			i(class="material-icons") expand_more
	label(class="label")
		h3 Date dropdown
		input(class="input input_size_small calendar" id="last-date" placeholder="ДД.ММ.ГГГГ")
		div(class="input__arrow arrow")
			i(class="material-icons") expand_more


label(class="label")
	h3 Subscription text field
	input(class="input input_size_middle" placeholder="Email")
	div(class="input__arrow  arrow")
		i(class="material-icons icons_colored") arrow_forward