extends ../../templates/ui-kit

block vars
    - mainClass = 'headers-and-footers';


block head
    title Headers and footers
    link(rel="stylesheet" href="headers-and-footers.css")


block content

    - let data = require('./headers-and-footers.json');

    include ../../blocks-semantic/header/header
    include ../../blocks-semantic/footer/footer
    include ../../blocks-semantic/footer-min/footer-min


    .headers-and-footers__header
        +header(data.header)
        
    .headers-and-footers__header-2
        +header(data.headerLogined)

    .headers-and-footers__footer
        +footer(data.footer)

    .headers-and-footers__footer-min
        +footer-min(data.footerMin)


block script
    script(src='./headers-and-footers.js')