doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content="initial-scale=1.0, width=device-width")
        title Headers and footers
        link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
        link(rel="manifest" href="favicon/site.webmanifest")
        link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="headers-and-footers.css")
    body
        - 
            let options;
            let items;
            let dropdownContent = {
                guests: {
                    text: 'Сколько гостей',
                    items: ['Взрослые', 'Дети', 'Младенцы'],
                    buttons: ['Очистить', 'Применить']
                },
                furniture: {
                    text: 'Удобства',
                    items: ['Спальни', 'Кровати', 'Ванные комнаты'],
                    buttons: false
                }
            };

        include ../../components/header/header


        section.headers-and-footers
            .headers-and-footers__logo
                include ../../common.blocks/logo/ui-logo.svg

            .headers-and-footers__header
                -
                    options = {
                        items: [
                            {text: 'Home', isActive: true},
                            {text: 'About Us'},
                            {text: 'Services', hasSubmenu: true},
                            {text: 'Careers'},
                            {text: 'News'},
                            {text: 'Documentation'}
                        ],
                        loginButton: {
                            text: 'Login', isSecondary: true, isSmall: true
                        },
                        registerButton: {
                            text: 'Register', isSmall: true 
                        }
                    }

                +header(options)

            .headers-and-footers__header-2
                -
                    options = {
                        items: [
                            {text: 'Home', isActive: true},
                            {text: 'About Us'},
                            {text: 'Services', hasSubmenu: true},
                            {text: 'Careers'},
                            {text: 'News'},
                            {text: 'Documentation'}
                        ],
                        user: 'Cosmin Negoita'
                    }

                +header(options)





        script(src='./headers-and-footers.js')