.search-card {
	max-width: 380px;
	h1 {
		margin-bottom: 20px;
	}
	.dropdown {
		margin-bottom: 31px;
	}
	.date-search {
		margin-bottom: 21px;
	}
}
.card__information {
	span {
		line-height: 44px;
	}
	.button-wrap {
		float: right;	
	}
}