include ../../common.blocks/date-dropdown/date-dropdown
include ../../common.blocks/dropdown/dropdown
include ../../common.blocks/button/button

mixin search-card({title, dateDropdown, dropdownTitle, dropdown, button})
	.search-card
		form
			h1.search-card__title= title

			.search-card__date-dropdown
				+date-dropdown(dateDropdown.firstDay, dateDropdown.lastDay)

			.search-card__dropdown
				h3.search-card__dropdown-title= dropdownTitle
				+dropdown(dropdown)
				
			.search-card__button
				+button(button)

