div(class="checkbox-list checkbox-list_state_open")
	h3 Expandable checkbox list
	div(class="checkbox-list__arrow arrow")
		i(class="material-icons") expand_more
	ul
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox")
				div(class="checkbox__text") Завтрак
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox" checked)
				div(class="checkbox__text") Письменный стол
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox" checked)
				div(class="checkbox__text") Стул для кормления
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox" checked)
				div(class="checkbox__text") Кроватка
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox")
				div(class="checkbox__text") Телевизор
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox")
				div(class="checkbox__text") Шампунь
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox")
				div(class="checkbox__text") Телевизор
		li
			label(class="label label_checkbox")
				input(class="checkbox" type="checkbox")
				div(class="checkbox__text") Шампунь