.checkbox-list.checkbox-list_state_open
	h3 Expandable checkbox list
	.checkbox-list__arrow arrow
		.material-icons expand_more
	ul
		li
			label.label.label_checkbox
				input.checkbox(type="checkbox")
				.checkbox__text Завтрак
		li
			label.label.label_checkbox
				input(class="checkbox" type="checkbox" checked)
				.checkbox__text Письменный стол
		li
			label.label.label_checkbox
				input(class="checkbox" type="checkbox" checked)
				.checkbox__text Стул для кормления
		li
			label.label.label_checkbox
				input(class="checkbox" type="checkbox" checked)
				.checkbox__text Кроватка
		li
			label.label.label_checkbox
				input.checkbox(type="checkbox")
				.checkbox__text Телевизор
		li
			label.label.label_checkbox
				input.checkbox(type="checkbox")
				.checkbox__text Шампунь
		li
			label.label.label_checkbox
				input.checkbox(type="checkbox")
				.checkbox__text Телевизор
		li
			label.label.label_checkbox
				input.checkbox(type="checkbox")
				.checkbox__text Шампунь