.slider-range {
  width: 100%;
  max-width: 266px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__slider {
    position: relative;
    width: 100%;
    margin-top: 23px; 
  }

  &__title {
    width: 50%;
    min-width: 100px;
  }

  &__text-wrap {
    width: 50%;    
    min-width: 100px;
  }

  &__text {
    white-space: nowrap;
    z-index: 10;
    font-size: rem(12px);
    text-align: right;
    line-height: 15px;
  }
}


// lib styles

.slider-range {

  .ui-slider {
    border: 1px solid $c25;
    height: 6px;
    position: relative;
    border-radius: 100px;
  }

  .ui-slider-range {
    background: $gradientSecondary;
    height: 20px;
    position: absolute;
  }

  .ui-slider-horizontal .ui-slider-range {
    height: 6px;
    top: -1px;
  }

  .ui-slider .ui-slider-handle {
    background: $secondary;
    position: absolute;
    width: 16px;
    height: 16px;
    top: 50%;
    display: block;
    transform: translateY(-50%);
    border-radius: 100px;
    z-index: 10;
    background: $gradientSecondary;
    border: 2px solid #fff;
    cursor: move;
    /* fallback if grab cursor is unsupported */
    cursor: grab;

    &:active {
      cursor: grabbing;
    }
  }

  .range-value {
    display: inline-block;
  }

  .range-divider {
    width: 10px;
    text-align: center;
    display: inline-block;

    &:after {
      content: '-';
    }
  }

}
