.fonts {
  width: 100%;
  min-width: rem(280px);
  max-width: rem(457px);
  padding-bottom: rem(40px);

  &__font {
    margin-bottom: rem(50px);

    &:nth-child(3) {
      margin-bottom: rem(47px);
    }
  }
}