div(class="header wide-block header_main")
	div(class="container")
		div(class="header__logo")
			include ../../common.blocks/logo/logo-with-name.pug
		ul(class="header__menu menu")
			li(class="menu__item_active") Home
			li About Us
			li(class="menu__item_with-arrow") Services
				i(class="material-icons") expand_more
			li Careers
			li News
			li Documentation
		div(class="button-wrap button_size_middle")
			div(class="button button_color_empty") Login
		div(class="button button_color_filled button_size_middle" ) Register
		span(class="header__user-name hidden") Cosmin Negoita