.icon-text {
  width: 100%;
  display: flex;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__icon {
    margin-right: rem(10px);
    background: $gradientPrimary;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: rem(48px);
    cursor: default;
  }

  &__text-block {
    width: 100%;
    min-width: rem(150px);
  }

  &__text {
    display: block;
  }

  &__rich-text {
    display: block;
    font-weight: 700;
  }

  &_underlined {
    padding-bottom: rem(20px);    
    border-bottom: rem(1px) solid rgba(31, 32, 65, .1);  
  }
}