div.rich-checkbox-list
	h3 Rich checkbox buttons
	ul
		li
			label.label.label_checkbox
				input.checkbox(type="checkbox")
				div.checkbox__text Широкий коридор
				p Ширина коридоров в номере</br>не менее 91 см.
		li
			label.label.label_checkbox
				input.checkbox(type="checkbox")
				div.checkbox__text Помощник для инвалидов
				p На 1 этаже вас встретит специалист и проводит до номера