label(class="label")
	h3 Dropdown
	select(class="select select_size_big")
		option(value="" disabled selected hidden) Сколько гостей
		option 1
		option 2
		option 3
		option 4
	div(class="select__arrow arrow")
		i(class="material-icons") expand_more


label(class="label")
	h3 Filter date dropdown
	select(class="select select_size_middle")
		option(value="" disabled selected hidden) 19 авг - 23 авг
		option 1
		option 2
		option 3
		option 4
	div(class="select__arrow arrow")
		i(class="material-icons") expand_more