.select {
  background: #FFFFFF;
  border: 1px solid $c25;
  box-sizing: border-box;
  border-radius: 4px;
  height: 44px;
  padding-left: 15px;
  color: $c75;
  appearance: none;
  font-family: 'Montserrat';
  font-weight: 400;

  &:not(:checked),
  &:checked {
    padding-bottom: 4px;
    padding-left: 14px;
  }
}

.select__arrow {
  position: absolute;
  top: 28px;
  right: 10px;
  pointer-events: none;
}

.select_size_big {
  width: 100%;
  max-width: 320px;
}

.select_size_middle {
  width: 100%;
  max-width: 266px;
}

.select_size_small {
  width: 100%;
}