h3 Checkbox buttons
label.label.ui-label.label_checkbox
	input.checkbox(type="checkbox")
	.checkbox__text Можно курить
label.label.ui-label.label_checkbox
	input.checkbox(type="checkbox" checked)
	.checkbox__text Можно с питомцами
label.label.ui-label.label_checkbox
	input.checkbox(type="checkbox" checked)
	.checkbox__text Можно пригласить гостей </br>(до 10 человек)