.checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.label_checkbox {
   input:not(:checked) + .checkbox__text:after {
    opacity: 0;
	}
   input:checked + .checkbox__text:after {
    opacity: 1;
  }
   input:checked + .checkbox__text:before {
    border-color: $purple
	}
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 20px;
  color: $c50;
  &:before {
  	box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid $c25;
    background-color: #ffffff;
    border-radius: 4px;
  }
  &:after {
  	box-sizing: border-box;
    content: "";
    position: absolute;
    transition: all 0.15s ease;
    left: 6px;
    top: 6px;
    width: 8px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(0deg, $purple 0%, #8BA4F9 100%);
    border-image-slice: 1;
    transform: rotate(-45deg);
  }
}