h3 Checkbox buttons
label(class="label ui-label label_checkbox")
	input(class="checkbox" type="checkbox")
	div(class="checkbox__text") Можно курить
label(class="label ui-label label_checkbox")
	input(class="checkbox" type="checkbox" checked)
	div(class="checkbox__text") Можно с питомцами
label(class="label ui-label label_checkbox")
	input(class="checkbox" type="checkbox" checked)
	div(class="checkbox__text") Можно пригласить гостей </br>(до 10 человек)