.donut {

  &__chart-text {
    fill: #000;
    transform: translateY(.25em);
  }
  
  &__chart-number {
    font-size: .5em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-.6em);
    font-family: 'Quicksand';
    font-weight: 700;
  }
  
  &__chart-label {
    font-size: .3em;
    text-anchor: middle;
    transform: translateY(.2em);
  }
  
  &__figure {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  &__figure-content,
  &__figure-key {
    flex: 1;
    align-self: center;
  }
  
  &__figure-content {
    margin-right: 10px;
    margin-top: -13px;
    max-width: 160px;
    min-width: 140px;
  }
  
  &__figure {
    height: auto;
  }
  
  &__figure-key {
    min-width: 170px;
  }
  
  &__figure-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  &__shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 4px;
  }
  
  &__mark {
    cursor: default;
    padding: 0;
    max-width: 200px;
  }
  
  &__segment {
    transition: .6s;
  }
}