.donut {

  .chart-text {
    fill: #000;
    transform: translateY(.25em);
  }
  
  .chart-number {
    font-size: .5em;
    line-height: 1;
    text-anchor: middle;
    transform: translateY(-.6em);
    font-family: 'Quicksand';
    font-weight: 700;
  }
  
  .chart-label {
    font-size: .3em;
    text-anchor: middle;
    transform: translateY(.2em);
  }
  
  figure {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .figure-content,
  .figure-key {
    flex: 1;
    align-self: center;
  }
  
  .figure-content {
    margin-right: rem(10px);
    margin-top: rem(-13px);
    max-width: rem(160px);
    min-width: rem(140px);
  }
  
  .figure-content svg {
    height: auto;
  }
  
  .figure-key {
    min-width: rem(170px);
  }
  
  .figure-key-list {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  .figure-key-list li {
    padding: 0;
  
    span {
      margin-right: rem(1px);
    }
  }
  
  .shape-circle {
    display: inline-block;
    vertical-align: middle;
    width: rem(10px);
    height: rem(10px);
    border-radius: 50%;
  }
  
  .shape-circle {

    &_excellent {
      background: linear-gradient(180deg, #FFE39C 0%, #FFBA9C 100%);
    }
  
    &_good {
      background: $gradientSecondary;
    }
  
    &_satisfactorily {
      background: $gradientPrimary;
    }
  
    &_badly {
      background: linear-gradient(180deg, #919191 0%, #3D4975 100%);
    }
  }
  
  .donut-wrap {
    max-width: rem(303px);
  }
  
  .donut__mark {
    cursor: default;
  }
  
  .donut-segment {
    transition: .6s;
  }
}