/* Styles for date-search in folder date-search */

.calendar-card {
  padding: 0;
  width: 320px;
}

.calendar__link-wrap {
  a:first-child {
    margin-left: 8px;
  }

  a:last-child {
    float: right;
    margin-right: 8px;
  }
}

@media (max-width: 560px) {
  .date-picker-wrapper {
    width: 250px;

    .month-wrapper table {
      width: 210px;

      .day,
      td {
        height: 30px;
        line-height: 30px;
      }

      .caption {
        height: 35px;
      }
    }

    .month-name {
      font-size: rem(18px);
      margin-bottom: 10px;
    }
  }
}