div(class="date-search" id="date-search" )
	label(class="label")
		h3 Date dropdown
		input(class="input input_small calendar" id="first-date" placeholder="ДД.ММ.ГГГГ")
		div(class="input__arrow arrow")
			i(class="material-icons") expand_more
	label(class="label")
		h3 Date dropdown
		input(class="input input_small calendar" id="last-date" placeholder="ДД.ММ.ГГГГ")
		div(class="input__arrow arrow")
			i(class="material-icons") expand_more