/*--------  Button styles in button folder -----------*/

.button.button_colored.button_middle Click me

.button.button_colored.button_middle.ui-button_not-active Click me

.button-wrap.button_middle
	.ui-button.button.button_color_empty Click me

.button-wrap.button_middle
	.ui-button.button.button_color_empty Click me


a.ui-link.link.link_colored Click me
a.ui-link.link.link_grey Click me

.button.button_colored.button_big Перейти к оплате
	.button__arrow.arrow
		i.material-icons arrow_forward