.link {
  text-transform: uppercase;
  font-family: 'Montserrat-regular';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  cursor: pointer;
}
.link_color_bright {
  color: $purple;
}
.link_color_grey {
  color: $c50;
}