/*--------  Button styles in button folder -----------*/

.button.button_color_filled.button_size_middle Click me

.button.button_color_filled.button_size_middle.ui-button_state_not-active Click me

.button-wrap.button_size_middle
	.ui-button.button.button_color_empty Click me

.button-wrap.button_size_middle
	.ui-button.button.button_color_empty Click me


a.ui-link.link.link_color_bright Click me
a.ui-link.link.link_color_grey Click me

.button.button_color_filled.button_size_big Перейти к оплате
	.button__arrow.arrow
		i.material-icons arrow_forward