.fields {
  width: 100%;
  padding-top: rem(3px);

  &__field {
    margin-bottom: rem(21px);

    &:nth-child(4),
    &:nth-child(5),
    &:nth-child(6) {
      margin-bottom: rem(40px);
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}