.like-button {
  width: rem(40px);
  height: rem(20px);
  border-radius: rem(10px);
  box-sizing: border-box;
  border: solid rem(1px) transparent;
  background-image: linear-gradient(white, white), linear-gradient(180deg, $c25 0%, $c25 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  * {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.like-button__text {
      color: $primary;
      transition: .2s;

      .like-button__icon:after {
        content: 'favorite';
        color: $primary;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    border-radius: rem(10px);
    cursor: pointer;
    padding-left: rem(10px);
    font-size: rem(10px);
    color: $c25;
    line-height: rem(17px);
    transition: .2s;
    position: relative;
  }

  &__icon:after {
    transition: .2s;
    position: absolute;
    content: 'favorite_border';
    color: $c25;
    top: rem(4px);
    left: rem(4px);
    font-size: rem(10px);
  }

  &_checked {
    background-image: linear-gradient(white, white), $gradientPrimary; 
  }
}