mixin like-button({number = 0, isChecked} = {})

    -let likeButtonClass = isChecked ? 'like-button_checked' : '';
    
    .like-button.js-like-button(class=likeButtonClass)
        label.like-button__label
            input.like-button__input.js-like-button__input(type="checkbox" checked=isChecked)
            .like-button__text
                span.like-button__number.js-like-button__number= number
                .like-button__icon.material-icons