.like-button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  border: solid 1px transparent;
  background-image: linear-gradient(white, white), linear-gradient(180deg, $greyOpacity25 0%, $greyOpacity25 100%);
  background-origin: border-box;
  background-clip: padding-box, border-box;

  * {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.like-button__text {
      color: $primary;
      transition: .2s;

      .like-button__icon:after {
        content: 'favorite';
        color: $primary;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 10px;
    font-size: 10px;
    color: $greyOpacity25;
    line-height: 17px;
    transition: .2s;
    position: relative;
  }

  &__icon:after {
    transition: .2s;
    position: absolute;
    content: 'favorite_border';
    color: $greyOpacity25;
    top: 4px;
    left: 4px;
    font-size: 10px;
  }

  &_checked {
    background-image: linear-gradient(white, white), $gradientPrimary; 
  }
}