.like-button {
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background: $c25;
  padding: 1px;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;

    &:checked+.like-button__text {
      color: $primary;
      transition: .2s;

      .like-button__icon:after {
        content: "favorite";
        color: $primary;
      }
    }
  }

  &__text {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 38px;
    height: 18px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
    padding-left: 10px;
    font-size: rem(10px);
    color: $c25;
    transition: .2s;
    position: relative;
  }

  &__icon:after {
    transition: .2s;
    position: absolute;
    content: "favorite_border";
    color: $c25;
    top: 4px;
    left: 4px;
    font-size: rem(10px);
  }

  &_checked {
    background: linear-gradient(180deg, $primary 0%, #8BA4F9 100%);  
  }
}