.slider-range {
  width: 100%;
  max-width: rem(266px);
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &__slider {
    position: relative;
    width: 100%;
    margin-top: rem(23px); 
  }

  &__title {
    width: 50%;
    min-width: rem(100px);
  }

  &__text-wrap {
    width: 50%;    
    min-width: rem(100px);
  }

  &__text {
    white-space: nowrap;
    z-index: 10;
    font-size: rem(12px);
    text-align: right;
    line-height: rem(15px);
  }
}


// lib styles

.slider-range {

  .ui-slider {
    border: rem(1px) solid $greyOpacity25;
    height: rem(6px);
    position: relative;
    border-radius: rem(100px);
  }

  .ui-slider-range {
    background: $gradientSecondary;
    height: rem(20px);
    position: absolute;
  }

  .ui-slider-horizontal .ui-slider-range {
    height: rem(6px);
    top: rem(-1px);
  }

  .ui-slider .ui-slider-handle {
    background: $secondary;
    position: absolute;
    width: rem(16px);
    height: rem(16px);
    top: rem(-6px);
    display: block;
    transform: translateX(-50%);
    border-radius: rem(100px);
    z-index: 10;
    background: $gradientSecondary;
    border: rem(2px) solid #fff;
    cursor: pointer;

    &:active {
      cursor: pointer;
    }
  }

  .range-value {
    display: inline-block;
  }

  .range-divider {
    width: rem(10px);
    text-align: center;
    display: inline-block;

    &:after {
      content: '-';
    }
  }
}
