.footer {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
  box-shadow: 0px 10px 20px $c5;

  &__container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    position: relative;
    padding: 100px 20px 83px 20px;
  }

  &__logo {
    cursor: pointer;
    display: block;
    margin-bottom: 10px;
  }

  &__main-info {
    width: 100%;
    max-width: 260px;
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 550px;
    margin-right: 29px;
    padding-top: 4px;
  }

  &__item {
    padding: 0 20px;
  }

  &__item-title {
    margin-bottom: 18px;
  }

  &__subitem {
    margin-bottom: 14px;
    color: $c50;
    cursor: pointer;

    &:hover {
      color: $c75;
    }
  }

  &__subscription {
    width: 100%;
    max-width: 260px;
    margin-left: 20px;
    padding-top: 4px;
  }

  &__subscription-title {
    margin-bottom: 18px;
  }

  &__subscription-text {
    margin-bottom: 23px;
  }

  &__line {
    width: 100%;
    height: 1px;
    background-color: $c25;
  }

  &__bottom-container {
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 23px 21px 19px 20px;
    flex-wrap: wrap;
  }

  &__copyright {
    min-width: 150px;
  }

  &__link {
    margin-left: 22px;
  }

  &__link-icon {
    font-size: 24px;
    cursor: pointer;
    background: $gradient;
    background-clip: text;
    -webkit-text-fill-color: transparent;    
  }
}





/* .footer {
  padding-top: 100px;

  .container {
    display: flex;
    justify-content: space-between;

    &:first-child {
      margin-bottom: 83px;
    }

    &:last-child {
      height: 70px;
      align-items: center;
    }
  }

  hr {
    margin: 0;
    opacity: .3;
  }
}

.footer__info {
  max-width: 280px;

  p {
    max-width: 278px;
    margin-right: 5px;
  }
}

.footer__logo {
  display: block;
  margin-bottom: 10px;
  cursor: pointer;
}

.footer__subscribe {
  max-width: 260px;
  padding-top: 3px;

  h3 {
    margin-bottom: 18px;
  }

  p {
    margin-bottom: 24px;
  }
}

.footer__ul {
  padding-top: 4px;
  width: 165px;
  padding-left: 8px;
  margin-right: 22px;

  &:nth-child(4) {
    margin-right: 30px;
  }

  h3 {
    margin-bottom: 18px;
  }

  li {
    margin-bottom: 14px;
    cursor: pointer;
    color: $c50;

    &:hover {
      color: $c75;
    }
  }
}

.footer__social-icons {
  :last-child {
    margin-right: 0;
  }
}

.footer__copyright {
  margin-bottom: 2px;
}

@media (max-width: 991.98px) {
  .footer .container {
    padding: 0 30px;
  }

  .footer__ul {
    display: none;
  }

  .footer__info {
    width: 50%;
    min-width: 280px;
    max-width: none;

    p {
      width: 100%;
      max-width: none;
    }
  }

  .footer__subscribe {
    width: 40%;
    min-width: 280px;
    max-width: none;
  }
}

@media (max-width: 641px) {
  .footer__info {
    margin-bottom: 30px;
  }

  .footer .container>* {
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    box-sizing: border-box;
  }

  .footer {
    padding-top: 50px;
  }
}

@media (max-width: 500px) {

  .footer__subscribe,
  .footer__info {
    min-width: 200px;
  }

  .footer .container:last-child {
    height: auto;

    .social-icons {
      margin-bottom: 10px;
      text-align: center;
    }
  }
} */