.titled-block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &__title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: rem(12px);
    text-transform: uppercase;
    color: $greyOpacity100;
    width: fit-content;
    margin-bottom: 5px;

    &_with-big-margin {
      margin-bottom: 16px;
    }

    &_single {
      width: 100%;
    }
  }

  &__explanation {
    text-transform: uppercase;
    text-align: right;
    font-size: rem(12px);
    color: $greyOpacity50;
    line-height: 17.5px;
    margin-top: -4px;
  }
}