mixin titled-block({title, isMarginBig, explanation})

    - margin = isMarginBig ? 'titled-block__title_with-big-margin' : false;
    .titled-block
        h3.titled-block__title(class=margin)= title
        if explanation
            span.titled-block__explanation= explanation
        
        if block
            block