.room-card {
  width: 100%;
  max-width: rem(320px);
  min-width: rem(260px);
  border-radius: rem(4px);
  box-shadow: rem(0px) rem(10px) rem(20px) $c5;
  background-color: #fff;

  &__image {
    width: 100%;
    height: rem(152px);
    border-radius: rem(4px) rem(4px) 0 0;
    background: center, center no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: space-between;
    
    &:hover {

      .room-card__arrow {
        opacity: 1;
        transition: .4s;      
      }
    }
  }

  &__arrow {
    opacity: 0;
    border-radius: rem(4px) rem(4px) 0 0;
    width: rem(42px);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .4s;
    cursor: pointer;

    &_prev {
      background: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
    }

    &_next {
      background: linear-gradient(90deg, rgba(0, 0, 0, .5) 0%, rgba(0, 0, 0, 0) 99.99%, rgba(255, 255, 255, 0) 100%);
      transform: matrix(-1, 0, 0, 1, 0, 0);
    }

    .material-icons {
      margin: 0;
      color: #fff;
      font-size: rem(24px);
      transform: rotate(90deg);
    }    
  }

  &__dots {
    position: absolute;
    bottom: rem(9px);
    right: rem(15px);
    transition: .4s;
    cursor: default;    
  }

  &__dot {
    width: rem(7px);
    height: rem(7px);
    border-radius: rem(100px);
    border: solid rem(1px) #fff;
    display: inline-block;
    cursor: pointer;
    
    &_active {
      background-color: #fff;      
    }
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: rem(20px) rem(18px) rem(13px) rem(20px);
  }

  &__room {

    > * {
      display: inline-block;  
    }
  }

  &__room-number {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    font-size: rem(19px);
    line-height: rem(24px);
    color: $c100;
    margin-right: rem(5px);
  }

  &__number-simbol {
    font-size: rem(14px);
    margin-right: rem(3px);
  }

  &__class {
    color: $primary;
    font-weight: 700;
    text-transform: uppercase;
    font-size: rem(12px);
  }

  &__price {
    text-align: right;

    > * {
      display: inline-block;  
    }
  }

  &__price-number {
    color: $c50;
    font-size: rem(14px);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    line-height: rem(15px);
    text-transform: uppercase;
  }

  &__price-text {
    font-size: rem(12px);
    color: $c50;
    margin-left: rem(3px);
  }

  &__line {
    width: 100%;
    height: rem(2px);
    background: rgba(31, 32, 65, .1);
    opacity: .5;
    margin: rem(7px) 0;
  }

  &__rate-button {
    width: rem(120px);
    margin-right: rem(5px);
  }

  &__reviews {
    color: $c50;

    > * {
      display: inline-block;
    }
  }

  &__reviews-number {
    color: $c50;
    font-size: rem(14px);    
  }

  &__reviews-text {
    font-weight: 400;
    text-transform: capitalize;
    margin-left: rem(4px);
    margin-right: rem(1px);
  }
}