	ul(class="advantages")
		li
			i(class="material-icons advantage__icon") insert_emoticon
			span(class="advantage__title") Комфорт
			span Шумопоглащаюшие стены
		li
			i(class="material-icons advantage__icon") location_city
			span(class="advantage__title") Удобство
			span Окно в каждой из спален