ul.advantages
	li
		i.material-icons.advantage__icon insert_emoticon
		span.advantage__title Комфорт
		span Шумопоглащаюшие стены
	li
		i.material-icons.advantage__icon location_city
		span.advantage__title Удобство
		span Окно в каждой из спален