.rate-button {

  &__icon {
    display: inline-block;
    font-size: rem(24px);
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: default;
  }
}
