include ../button/button
mixin dropdown(type, buttons, opened=false, itemsNames)
	- let items;
	- let dropClass;
	- let text;
	- if (type == 'furniture') {
	-	items = ['Спальни', 'Кровати', 'Ванные комнаты'];
	-	dropClass = 'dropdown_furniture';
	-	text = 'Удобства';		
	- } else if (type == 'guests') {
	-	items = ['Взрослые', 'Дети', 'Младенцы'];
	-	dropClass = 'dropdown_guests';
	-	text = 'Сколько гостей';		
	- } else {
	-	items = itemsNames;
	-	dropClass = 'dropdown_custom';
	-	text = 'Choose options';	
	- }
	- dropClass = opened ? dropClass + ' dropdown_open' : dropClass;


	.dropdown(class=dropClass)
		.dropdown__field
			span.dropdown__text= text
			i.dropdown__arrow.material-icons expand_more

		.dropdown__list
			ul
				- for (var i = 0; i < 3; i++)
					li.dropdown__item= items[i] 
						span.dropdown__button.dropdown__button_plus +
						span.dropdown__num 0
						span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
			
			if buttons
				+button(buttons[0], 'textual', false)(class='dropdown__button_to-clear hidden')
				+button(buttons[1], 'textual', true)(class='dropdown__button_to-apply')