include ../button/button

mixin dropdown(content, isOpen)
	- 
		let config;
		config = {
			guests: {
				text: 'Сколько гостей',
				class: 'dropdown_guests',
				items: ['Взрослые', 'Дети', 'Младенцы'],
				buttons: ['Очистить', 'Применить']
			},
			furniture: {
				text: 'Удобства',
				class: 'dropdown_furniture',
				items: ['Спальни', 'Кровати', 'Ванные комнаты'],
				buttons: false
			}
		};
		
		content = config[content] || content || config.guests;
		let open = isOpen ? 'dropdown_open' : false;

	.dropdown(class=[content.class, open])
		.dropdown__field
			span.dropdown__text= content.text
			i.dropdown__arrow.material-icons expand_more

		.dropdown__list
			ul
				each item in content.items
					li.dropdown__item= item
						span.dropdown__button.dropdown__button_plus +
						span.dropdown__num 0
						span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
			
			if content.buttons
				.dropdown__button_to-clear.hidden
					+icon-link({text: content.buttons[0]})
				.dropdown__button_to-apply
					+icon-link({text: content.buttons[1], isPrimary: true})


//- как называть конфиги
//- где они должны быть - в миксине или до него


			

