.dropdown.dropdown_size_middle.dropdown_choice_furniture
	h3.dropdown
	.dropdown__field <span>2 спальни, 2 кровати...</span>
		.dropdown__arrow arrow
			i.material-icons expand_more
		span.ui-field-state Default
	.dropdown-ul-wrap
		ul
			li 
				span.dropdown__button.dropdown__button_plus +
				span.dropdown__num 2
				span.dropdown__button.dropdown__button_minus -
				|Спальни
			li 
				span.dropdown__button.dropdown__button_plus +
				span.dropdown__num 2
				span.dropdown__button.dropdown__button_minus -
				|Кровати
			li 
				span.dropdown__button.dropdown__button_plus +
				span.dropdown__num 0
				span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
				|Ванные комнаты


.dropdown.dropdown_size_big .dropdown_choice_guests.dropdown_state_open
	h3.dropdown
	.dropdown__field <span>Сколько гостей</span>
		.dropdown__arrow arrow
			i.material-icons expand_more
	.dropdown-ul-wrap
		ul
			li 
				span.dropdown__button.dropdown__button_plus +
				span.dropdown__num 0
				span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
				|Взрослые
			li 
				span.dropdown__button.dropdown__button_plus +
				span.dropdown__num 0
				span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
				|Дети
			li 
				span.dropdown__button.dropdown__button_plus +
				span.dropdown__num 0
				span.dropdown__button.dropdown__button_minus.dropdown__button_not-active -
				|Младенцы
		a.link.dropdown__link_clear.link_color_grey.hidden Очистить
		a.link.dropdown__link_apply.link_color_bright Применить