.login-card {
  padding: rem(40px) rem(30px) rem(30px) rem(30px);
  background-color: #fff;
  border-radius: rem(4px);
  box-shadow: rem(0px) rem(0px) rem(25px) rgba(0, 0, 0, .2);
  min-width: rem(260px);
  max-width: rem(380px);

  &__title {
    margin-bottom: rem(19px);
  }

  &__email {
    margin-bottom: rem(10px);
  }

  &__password {
    margin-bottom: rem(22px);
  }

  &__button {
    margin-bottom: rem(29px);
  }

  &__enter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: rem(2px);
  }
}

@media (max-width: rem(575.98px)) {

  .login-card {
    padding: rem(25px) rem(20px) rem(20px) rem(20px);
  }
}