/*------------------------- CSS normalize (reset) -----------------------------------*/

@import './reset';

/*------------------------------ Import libs ----------------------------------------*/

@import '~material-design-icons/iconfont/material-icons.css';
@import '../libs/jquery-ui-1.12.1.custom/jquery-ui.min.css';

/*------------------------------ Common styles ----------------------------------------*/

/*------- Add fonts ------------*/

@import './mixins';

@include font-face("Quicksand-Bold", "../fonts/Quicksand-Bold/Quicksand-Bold");
@include font-face("Quicksand-Medium", "../fonts/Quicksand-Medium/Quicksand-Medium"); /*!!!!!*/
@include font-face("Quicksand-Regular", "../fonts/Quicksand-Regular/Quicksand-Regular");
@include font-face("Montserrat-Bold", "../fonts/Montserrat-Bold/Montserrat-Bold");
@include font-face("Montserrat-Medium", "../fonts/Montserrat-Medium/Montserrat-Medium"); /*!!!!!*/
@include font-face("Montserrat-Regular", "../fonts/Montserrat-Regular/Montserrat-Regular");

/*-------- Variables -------------*/

$c100: #1F2041;
$c75: rgba(31, 32, 65, 0.75);
$c50: rgba(31, 32, 65, 0.50);
$c25: rgba(31, 32, 65, 0.25);
$c5: rgba(31, 32, 65, 0.05);
$purple: #BC9CFF;
$green: #6FCF97;

body {
	font-family: "Montserrat-Regular";
	font-size: 14px;
	line-height: 24px;
	color: $c75;
}
h1 {
	font-family: "Quicksand-Bold";
	font-size: 24px;
	line-height: 30px;
	color: $c100;
}
h2 {
	font-family: "Quicksand-Bold";
	font-size: 19px;
	line-height: 24px;
	color: $c100;
}
h3 {
	font-family: "Montserrat-Bold";
	font-size: 12px;
	line-height: 15px;
	text-transform: uppercase;
	color: $c100;
}
.material-icons {
	font-size: 24px;
	color: $c75;
	transition: .2s;
}
.hidden {
	display: none!important;
}
.arrow {
	cursor: pointer;
}

/*------------------------------ Styles for UI-Kit ----------------------------------------*/

.ui-section {
	max-width: 1440px;
	background-color: #E5E5E5;
	position: relative;
	margin-left: auto;
	margin-right: auto;
	padding: 140px 0;
}
.ui-section_white {
	background-color: #FFFFFF;
}
.ui-logo {
	position: absolute;
	top: 30px;
	left: 30px;
}
.ui-container {
	max-width: 1140px;
	display: flex;
	margin-left: auto;
	margin-right: auto;
}
.colors, .fonts {
	width: 50%;
	margin-top: 5px;
}
.color-item {
	display: flex;
	align-items: center;
	margin-bottom: 20px;
}
.color-item__square {
	width: 70px;
	height: 70px;
	border-radius: 6px;
	display: inline-block;
}
.color-item:nth-child(1) .color-item__square {
	background-color: $c100;
}
.color-item:nth-child(2) .color-item__square {
	background-color: $c75;
}
.color-item:nth-child(3) .color-item__square {
	background-color: $c50;
}
.color-item:nth-child(4) .color-item__square {
	background-color: $c25;
}
.color-item:nth-child(5) .color-item__square {
	background-color: $c5;
}
.color-item:nth-child(6) .color-item__square {
	background-color: $purple;
}
.color-item:nth-child(7) .color-item__square {
	background-color: $green;
}
.color-item__desc {
	display: inline-block;
	margin-left: 40px;
	vertical-align: middle;
	h2 {
		line-height: 29px;
	}
	span {
		font-family: "Quicksand-Regular";
	}
}
.font-item {
	display: flex;
	margin-bottom: 50px;
	&:last-child {
		margin-top: -2px;
	}
}
.font-item__tag {
	text-align: right;
	width: 50px;
	margin-left: 113px;	
	& > * {
		font-family: "Montserrat-Regular";		
	}	
}
.font-item__desc {
	margin-left: 30px;
	max-width: 350px;
}


.colors-and-type {
	display: none;
}
.form-elements {

}
/*------------------------------ Temp styles ----------------------------------------*/
.ui-form-blocks-1 {
	padding-top: 3px;	
	max-width: 1157px;
	margin-bottom: 58px;
}
.ui-form-blocks-2 {
	max-width: 1157px;
	margin-bottom: 138px;
}
.ui-form-blocks-3 {
	max-width: 1158px;
	margin-bottom: 200px;
}
.ui-form-block {
	width: 100%;
	margin-bottom: 20px;
}
.label h3 {
	margin-bottom: 17px;
}
.ui-form-block_inline label {
	display: inline-block;
	&:first-child {
		margin-right: 17px;
	}
	& .select__arrow {
		top: 30px;
	}
}
.ui-form-blocks-1 .ui-column {
	width: 33.3%;
	&:nth-child(2) {
		& .ui-form-block {
			margin-left: 61px;
			&:first-child {
				margin-bottom: 38px;
				h3 {
					margin-bottom: 17px;
				}
			}
			&:nth-child(2) {
				margin-bottom: 39px;
				h3 {
					margin-bottom: 14px;
				}
			}
			&:nth-child(3) {
				h3 {
					margin-bottom: 13px;
				}
				margin-bottom: 43px;
			}
			&:nth-child(4) {
				h3 {
					margin-bottom: 12px;
				}
				margin-bottom: 40px;
			}
			&:nth-child(5) {
				h3 {
					margin-bottom: 15px;
				}
			}
		}
	}
	&:nth-child(3) {
		& .ui-form-block {
			margin-left: 67px;
			&:first-child {
				margin-bottom: 36px;
				h3 {
					margin-bottom: 13px;
				}
			}
			&:nth-child(2) {
				margin-bottom: 11px;
				h3 {
					margin-bottom: 16px;
				}
			}
			&:nth-child(3) {
				h3 {
					margin-bottom: 17px;
				}
			}
		}
	}
}
.ui-form-blocks-2 .ui-column {
	width: 33.3%;
	&:first-child {
		& .ui-form-block {
			&:first-child {
			}
		}
	}
	&:nth-child(2) {
		& .ui-form-block {
			margin-left: 61px;
		}
	}
	&:nth-child(3) {
		& .ui-form-block {
			margin-left: 67px;
			&:nth-child(3) {
			}
		}
	}
}
.ui-form-blocks-3 .ui-column {
	width: 33.3%;
	&:nth-child(2) {
		& .ui-form-block {
				margin-left: 61px;
			&:first-child {

			}
			&:nth-child(2) {

			}
			&:nth-child(3) {
			}
		}
	}
	&:nth-child(3) {
		& .ui-form-block {
			margin-left: 67px;
			&:first-child {
				& h3 {
					line-height: 43px;
				}
			}
		}
	}
}
.ui-label {
	& .input, .select {
		margin-bottom: 21px;	
	}
}
.ui-field-state {
	position: absolute;
	right: 0;
	top: -40px;
	text-transform: uppercase;
	font-size: 12px;
}
.input {
	background: #FFFFFF;
	border: 1px solid $c25;
	box-sizing: border-box;
	border-radius: 4px;
	height: 44px;
	padding-left: 15px;
	color: $c25;
	font-family: "Montserrat-Regular";
	font-size: .97em;
	position: relative;
	&::placeholder {
		font-family: "Montserrat-Regular";
		color: $c25;
	}
	&:hover, &:focus {
		border-color: $c50;
		color: $c75;
	}
}
.input__arrow {
	position: absolute;
	font-size: 24px;
	top: -3px;
	right: 9px;
}
.ui-input_hover {
	border-color: $c50;
	&::placeholder {
		color: $c75;	
	}
}
.input_size_big {
	width: 100%;	
	max-width: 320px;	
}
.select_size_big {
	width: 100%;	
	max-width: 320px;	
}
.input_size_middle {
	width: 100%;	
	max-width: 266px;	
}
.select_size_middle {
	width: 100%;	
	max-width: 266px;	
}
.select_size_small {
	width: 150px;
}
.select {
	background: #FFFFFF;
	border: 1px solid $c25;
	box-sizing: border-box;
	border-radius: 4px;
	height: 44px;
	padding-left: 15px;
	color: $c75;
	font-family: "Montserrat-Regular";
	appearance: none;
	& option[selected][disabled] {
		// add later
	}
	&:not(:checked), &:checked {
		padding-bottom: 5px;
		padding-left: 14px;
	}
}
.select__arrow {
	position: absolute;
	top: -2px;
	right: 9px;
	pointer-events: none;
}
.label {
	position: relative;
	h3 {
		margin-bottom: 5px;
	}
}
.checkbox__text {
  position: relative;
  padding: 0 0 0 30px;
  margin-bottom: 10px;
  cursor: pointer;
  line-height: 20px;
  &:before {
  	box-sizing: border-box;
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 20px;
    height: 20px;
    border: 1px solid $c25;
    background-color: #ffffff;
    border-radius: 4px;
  }
  &:after {
  	box-sizing: border-box;
    content: "";
    position: absolute;
    transition: all 0.15s ease;
    left: 6px;
    top: 6px;
    width: 8px;
    height: 6px;
    border-left: 2px solid;
    border-bottom: 2px solid;
    border-image: linear-gradient(0deg, $purple 0%, #8BA4F9 100%);
    border-image-slice: 1;
    transform: rotate(-45deg);
  }
}
.input_type_checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.label_type_checkbox {
  & input:not(:checked) + .checkbox__text:after {
    opacity: 0;
	}
  & input:checked + .checkbox__text:after {
    opacity: 1;
  }
  & input:checked + .checkbox__text:before {
    border-color: $purple
	}
}
.input_type_radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 7px;
}
.radio__text {
  position: relative;
  padding: 0 0 0 30px;
  cursor: pointer;
  &:before {
  	box-sizing: border-box;
	  content: '';
	  position: absolute;
	  top: 2px;
	  left: 0;
	  width: 20px;
	  height: 20px;
	  border: 1px solid $c25;
	  border-radius: 50%;
	  background: #FFF;	
  }
  &:after {
    box-sizing: border-box;
	  content: '';
	  position: absolute;
	  top: 6px;
	  left: 4px;
	  width: 12px;
	  height: 12px;
	  border-radius: 50%;
	  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
	  opacity: 0;
	  transition: .2s;
  }
}
.label_type_radio {
	& input:checked + .radio__text:after {
	  opacity: 1;
	}
	& input:focus + .radio__text:before {
	  border-color: $purple;
	}
	display: inline-block;
	margin-right: 15px;
}
.input_type_toggle {
  position: absolute;
  z-index: -1;
  opacity: 0;
  margin: 10px 0 0 20px;
}
.toggle__text {
  position: relative;
  padding: 0 0 0 50px;
  cursor: pointer;
	&:before {
		box-sizing: border-box;
	  content: '';
	  position: absolute;
	  top: 3px;
	  left: 0;
	  width: 40px;
	  height: 20px;
	  border-radius: 10px;
	  background: #fff;
	  transition: .2s;
	  border: 1px solid $c25;
	}
	&:after {
		box-sizing: border-box;
	  content: '';
	  position: absolute;
	  top: 7px;
	  left: 5px;
	  width: 12px;
	  height: 12px;
	  border-radius: 10px;
	  background: linear-gradient(180deg, $c25 0%, $c25 100%);
	  transition: .2s;
	}
}
.label_type_toggle {
	& input:checked + .toggle__text:before {
	  border-color: $purple;
	}
	& input:checked + .toggle__text:after {
	  left: 24px;
	  background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
	  transition: .2s;
	}
}
.ui-label .toggle__text {
	margin-bottom: 10px;
}
.input_type_like-button {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.like-button-wrap {
	box-sizing: border-box;
	width: 40px;
	height: 20px;
	border-radius: 10px;
	background: $c25;
	padding: 1px;
	display: inline-block;
}
.like-button-wrap-active {
	box-sizing: border-box;
	width: 40px;
	height: 20px;
	border-radius: 10px;
	background: linear-gradient(180deg, $purple 0%, #8BA4F9 100%);
	padding: 1px;
	display: inline-block;
}
.like-button__text {
	box-sizing: border-box;
	width: 38px;
	height: 18px;
	border-radius: 10px;
	background: #fff;
	cursor: pointer;
	line-height: 18px;
	padding-left: 10px;
	font-size: 10px;
	color: $c25;
	text-align: center;
	transition: .2s;
	& .material-icons {
		box-sizing: border-box;
	  content: 'favorite_border';
	  position: absolute;
	  top: 4px;
	  left: 3px;
	  font-size: 10px;
	  color: inherit;
	}
}
.ui-form-block .like-button-wrap {
	margin-right: 6px;
}
.label_type_like-button {
	& input:checked + .like-button__text {
	  color: $purple;
	  transition: .2s;
	}
}
.rating {
	width: 120px;
}
.input_type_rating {
	display: none;
}
.label_type_rating {
	float: right;
	cursor: pointer;
	&:before {
  	content: 'star_border';
  	top: 0;
  	left: 0;
  	font-size: 24px;
  	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	  -webkit-background-clip: text;
	  -webkit-text-fill-color: transparent;
	}
}
.label_type_rating:hover,
.label_type_rating:hover ~ .label_type_rating,
.rating input:checked ~ .label_type_rating {
	&:before {
		content: 'star';
	}
}
.ui-rating {
	display: inline-block;
	margin-right: 16px;
}


//----------------------------slider--------------

.slider-range{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  position: relative;
}

// Slider

.slider-wrapper{
  width: 266px;
  display: inline-block;
  position: relative;
}
.ui-slider{
  border: 1px solid $c25;
  height: 4px;
  position: relative;
  border-radius: 100px;
}
.ui-slider-range{
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  height: 20px;
  position: absolute;
}
.ui-slider-horizontal .ui-slider-range {
	height: 6px;	
	top: -1px;	
}
.ui-slider .ui-slider-handle {
  background: #6FCF97;
  position: absolute;
  width: 12px;
  height: 12px;
  top: 50%;
  display: block;
  transform: translateY(-50%);
  border-radius: 100px;
  z-index: 10;
  background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
  border: 2px solid #fff;
  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  &:active{
    cursor: grabbing;
  }
}

// Range Indicator

.range-wrapper{
  position: absolute;
  top: -32px;
	right: 0;
}
.range {
  white-space: nowrap;
  z-index: 10;
  position: relative;
  font-size: 12px;
  font-family: "Montserrat-Regular";
}
.range-value{
  display: inline-block;
}
.range-divider{
  width: 10px;
  text-align: center;
  display: inline-block;
  &:after{
    content: '-';
  }
}

//--------------------------- Buttons -----------------------------

.ui-buttons-wrap {
	width: 320px;
}
.button {
	border-radius: 100px;
	font-family: "Montserrat-Regular";
	font-style: normal;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	border: none;
	&:hover,
	&:active,
	&:focus {
		border: none;
		font-style: normal;
		font-weight: bold;
	}
}
.button_size_middle {
	height: 44px;
	width: 99px;
}
.button_size_big {
	height: 44px;
	width: 100%;
	max-width: 320px;
	position: relative;
	font-size: 12px;
	line-height: 45px;
}
.button__arrow {
	position: absolute;
	top: 8px;
	right: 10px;
}
.ui-button, .ui-button-wrap {
	display: inline-block;
	margin-right: 17px;
	margin-bottom: 30px;
	padding: 0;
}
.ui-button-wrap {
	margin-bottom: 26px;
	&.ui-button {
		margin-bottom: 0;
	}
	&:nth-child(4) {
		margin-right: 70px;
	}
}
.button_color_filled {
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
	color: #fff;
	&:hover,
	&:active,
	&:focus {
		background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
		color: #fff;
	}
	& .material-icons {
		color: #fff;
	}
}
.button-wrap {
	border-radius: 100px;
	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
}
.button_color_empty {
	top: 2px;
	left: 2px;
	background: #fff;
	width: 95px;
	height: 40px;
	color: $purple;
	&:hover,
	&:active,
	&:focus {
		background: #fff;
		color: $purple;
	}
}
.ui-button_state_not-active {
	opacity: .5;
	&.button_color_empty {
		opacity: 1;
	}
}
.ui-link {
	margin: 0 20px 24px 2px;
	display: inline-block;
	&:last-child {
		margin-right: 50px;
	}
}
.link {
	text-transform: uppercase;
	font-family: "Montserrat-regular";
	font-style: normal;
	font-weight: bold;
	font-size: 12px;
	cursor: pointer;
}
.link_color_bright {
	color: $purple;
}
.link_color_grey {
	color: $c50;
}

//-----------------Pagination------------------

.pagination {
  display: flex;
  align-items: center;
  position: relative;
  display: inline-block;
}
.pagination a {
  text-decoration: none;
  font-size: 12px;
  margin: 0 17px;
  color: $c50;
  &:first-child {
  	display: inline-block;
  	width: 40px;
  	height: 40px;
  	background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  	border-radius: 100px;
  	line-height: 40px;
  	text-align: center;
  	color: #fff;
  	margin: 0;
  }
  &:last-child {
  	margin-right: 11px;
  }
}
.pagination span {
	margin: 0 14px;
}
.pagination__arrow {
	display: inline-block;
	width: 40px;
	height: 40px;
	background: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
	border-radius: 100px;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	& .material-icons {
		color: #fff;
		margin-top: 8px;
	}
}
.pagination__text {
	margin: 7px 0 0 7px;
}
.dropdown__field {
	height: 44px;
	border: 1px solid $c25;
	box-sizing: border-box;
	position: relative;
	padding: 8px 13px;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
	transition: .4s;
}
.dropdown_size_middle {
	& .dropdown__field {
		width: 266px;
	}
	& ul {
		width: 264px;
	}
}
.dropdown_size_big {
	& .dropdown__field {
		width: 320px;
	}
	& ul {
		width: 318px;
	}
}
.dropdown__arrow {
	position: absolute;
	top: 9px;
	right: 10px;
}
.dropdown {
	position: relative;
	& h3 {
		margin-bottom: 5px;
	}
}
.dropdown-ul-wrap {
	position: absolute;
	top: 63px;
	left: 0px;
	border: 1px solid $c50;
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
	display: none;
	box-shadow: 0px 2px 10px rgba(31, 32, 65, 0.05);
	z-index: 1;
	background-color: #fff;
	& li {
    display: block;
    padding: 6px 7px 0px 13px;
    height: 32px;
    font-family: "Montserrat-Bold";
    font-size: 12px;
    line-height: 25px;
    text-transform: uppercase;
    color: #1F2041;
		&:last-child {
			padding-bottom: 3px;
		}
	}
}
.dropdown__num {
	display: inline-block;
	float: right;
	right: 35px;
	width: 32px;
	text-align: center;
}
.dropdown__button {
	display: inline-block;
	float: right;
	width: 30px;
	height: 30px;
	border: 1px solid $c25;
	box-sizing: border-box;
	border-radius: 22px;
	text-align: center;
	line-height: 28px;
	font-size: 18px;
	color: $c50;
	font-family: "Montserrat-Regular";
	cursor: pointer;
}
.dropdown__button_not-active {
	opacity: .5;
}
.ui-dropdown {
	margin-bottom: 20px;
	& .ui-field-state {
		top: -25px;
	}
}
.dropdown_state_open {
	& .dropdown__field {
		border-color: $c50;
		transition: .4s;
	}
	& .dropdown-ul-wrap {
		display: block;
	}
}
.checkbox-list {
	position: relative;
	width: 266px;
	height: 44px;
	margin-bottom: 20px;
	& ul {
		display: none;
		background-color: #fff;
	}
	& h3 {
		line-height: 44px;
		margin-bottom: 3px;
	}
}
.checkbox-list__arrow {
	position: absolute;
	top: 10px;
	right: 10px;
}
.checkbox-list_state_open {
	& ul {
		display: block;
	}
	& .material-icons {
		transform: scale(1, -1);
		transition: .2s;
	}
}
.dropdown__link_apply {
	display: inline-block;
	float: right;
	padding: 9px 7px 7px 0px;	
}
.dropdown__link_clear {
	display: inline-block;
	float: left;
	padding: 9px 7px 0px 14px;	
}
.rich-checkbox-list {
	& h3 {
		line-height: 44px;
		margin-bottom: 1px;
	}
	& .checkbox__text {
		font-size: 14px;
		color: $c75;
		font-family: "Montserrat-Bold";
		margin-bottom: 5px;
	}
	& p {
		font-size: 12px;
		line-height: 14px;
		color: $c75;
		margin-left: 30px;
		max-width: 230px;
	}
	& li {
		margin-bottom: 9px;
	}
}
.bullet-list {
	& li {
		margin-bottom: 10px;
		padding-left: 21px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			width: 10px;
			height: 10px;
			left: 0px;
			top: 6px;
			background-color: $c25;
			border-radius: 100px;
		}
	}
}