/*-------- Variables -------------*/

@import './_vars';

/*------------------------- CSS reset -----------------------------------------------*/

@import './_reset';

/*------------------------------ Import libs ----------------------------------------*/

@import '~material-design-icons/iconfont/material-icons.css';
@import '../libs/jquery-ui-1.12.1.custom/jquery-ui.min.css';
@import '../libs/font-awesome/scss/font-awesome.scss';
@import '../libs/jquery.daterangepicker/daterangepicker.scss';

/*------------------------------ Common styles ----------------------------------------*/

@import './_mixins';

/*------- Add fonts ------------*/

@include font-face(
  'Quicksand', 
  '../fonts/Quicksand-Regular/Quicksand-Regular',
  400
);
@include font-face(
  'Quicksand', 
  '../fonts/Quicksand-Bold/Quicksand-Bold',
  700
);
@include font-face(
  'Montserrat', 
  '../fonts/Montserrat-Regular/Montserrat-Regular',
  400
);
@include font-face(
  'Montserrat', 
  '../fonts/Montserrat-Bold/Montserrat-Bold',
  700
);
@include font-face(
  'OpenSans', 
  '../fonts/OpenSans-Regular/OpenSans-Regular',
  400
);
@include font-face(
  'OpenSans', 
  '../fonts/OpenSans-Bold/OpenSans-Bold',
  700
);

html {
  font-size: $HTMLsize;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(24px);
  color: $c75;
}

h1 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: rem(24px);
  line-height: 30px;
  color: $c100;
}

h2 {
  font-family: 'Quicksand', sans-serif;
  font-weight: 700;
  font-size: rem(19px);
  line-height: 24px;
  color: $c100;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: rem(12px);
  line-height: 15px;
  text-transform: uppercase;
  color: $c100;
}

.material-icons {
  font-size: rem(24px);
  color: $c75;
}

.hidden {
  display: none !important;
}

.clearfix {
  clear: both;
}

.arrow {
  cursor: pointer;
}

.card {
  background-color: #fff;
  padding: 40px 30px 30px 30px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);

  h1 {
    font-size: rem(26px);
  }

  .button-wrap_not-colored>* {
    margin: 2px;
  }
}

.icons_colored {
  background: $gradient;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.label {
  position: relative;

  h3 {
    margin-bottom: 5px;
  }
}

.social-icon {
  cursor: pointer;
  margin: 0 11px;
  font-size: rem(26px);
}

.wide-block {
  max-width: 1920px;
  background-color: #fff;
  width: 100%;
}

.container {
  width: 100%;
  max-width: 1160px;
  margin-right: auto;
  margin-left: auto;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

hr {
  margin: 0;
  opacity: .3;
}

.background-image {
  background: center, center no-repeat;
  background-size: cover;
  position: relative;
}

.card__information {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  span {
    width: 60%;
    min-width: 193px;
    box-sizing: border-box;
    line-height: 40px;
  }

  .button {
    min-width: 50px;
  }
}


@media (max-width: 1200px) {
  .container {
    padding: 0 30px;
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 800px) {
  .page_language_ru h1 {
    font-size: rem(24px);
    letter-spacing: auto;
  }
}

@media (max-width: 400px) {
  .page_language_ru h1 {
    font-size: rem(20px);
    letter-spacing: auto;
  }
}

@media (max-width: 370px) {
  .card__information>* {
    margin-left: auto;
    margin-right: auto;
  }
}

/*------------------------------ Import styles ----------------------------------------*/

/*------- Blocks styles -------------*/

@import '../common.blocks/text-field/text-field.scss';
@import '../common.blocks/date-dropdown/date-dropdown.scss';
@import '../common.blocks/filter-date-dropdown/filter-date-dropdown.scss';
@import '../common.blocks/checkbox-buttons/checkbox-buttons.scss';
@import '../common.blocks/radio-buttons/radio-buttons.scss';
@import '../common.blocks/toggle/toggle.scss';
@import '../common.blocks/like-button/like-button.scss';
@import '../common.blocks/rate-button/rate-button.scss';
@import '../common.blocks/slider-range/slider-range.scss';
@import '../common.blocks/button/button.scss';
@import '../common.blocks/pagination/pagination.scss';
@import '../common.blocks/dropdown/dropdown.scss';
@import '../common.blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../common.blocks/rich-checkbox-buttons/rich-checkbox-buttons.scss';
@import '../common.blocks/advantages/advantages.scss';
@import '../common.blocks/review/review.scss';
@import '../common.blocks/bullet-list/bullet-list.scss';
@import '../common.blocks/donut/donut.scss';
/* Styles for calendar and inputs - date-search */
@import '../common.blocks/calendar/calendar.scss';
@import '../common.blocks/date-search/date-search.scss';

/*--------- Components styles -------------*/

@import '../components/search-card/search-card.scss';
@import '../components/check-in-card/check-in-card.scss';
@import '../components/booking-card/booking-card.scss';
@import '../components/login-card/login-card.scss';
@import '../components/room-card/room-card.scss';
@import '../components/header/header.scss';
@import '../components/footer/footer.scss';
@import '../components/footer-min/footer-min.scss';


/*--------- Pages styles -------------*/

/* @import '../pages/ui-kit/ui-kit.scss';
@import '../pages/landing-page/landing-page.scss';
@import '../pages/search-room/search-room.scss';
@import '../pages/room-details/room-details.scss';
@import '../pages/registration/registration.scss'; */