/*-------- Variables -------------*/

@import './_vars';

/*------------------------- CSS reset -----------------------------------------------*/

@import './_reset';

/*------------------------------ Import libs ----------------------------------------*/

@import '~material-design-icons/iconfont/material-icons.css';

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '~@fortawesome/fontawesome-free/scss/brands.scss';

@import '../libs/jquery-ui-1.12.1.custom/jquery-ui.min.css';
@import '../libs/daterangepicker/daterangepicker.scss';

//@import '../libs/jquery.daterangepicker/daterangepicker.scss';

/*------------------------------ Common styles ----------------------------------------*/

@import './_mixins';

/*------- Add fonts ------------*/

@include font-face(
  'Quicksand', 
  '../fonts/Quicksand-Regular/Quicksand-Regular',
  400
);
@include font-face(
  'Quicksand', 
  '../fonts/Quicksand-Bold/Quicksand-Bold',
  700
);
@include font-face(
  'Montserrat', 
  '../fonts/Montserrat-Regular/Montserrat-Regular',
  400
);
@include font-face(
  'Montserrat', 
  '../fonts/Montserrat-Bold/Montserrat-Bold',
  700
);
@include font-face(
  'OpenSans', 
  '../fonts/OpenSans-Regular/OpenSans-Regular',
  400
);
@include font-face(
  'OpenSans', 
  '../fonts/OpenSans-Bold/OpenSans-Bold',
  700
);

html {
  font-size: $HTMLsize;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', 'OpenSans', sans-serif;
  font-weight: 400;
  font-size: rem(14px);
  line-height: rem(24px);
  color: $c75;
}

h1 {
  font-family: 'Quicksand', 'OpenSans', sans-serif;
  font-weight: 700;
  font-size: rem(24px);
  line-height: 30px;
  color: $c100;
}

h2 {
  font-family: 'Quicksand', 'OpenSans', sans-serif;
  font-weight: 700;
  font-size: rem(19px);
  line-height: 24px;
  color: $c100;
}

h3 {
  font-family: 'Montserrat', 'OpenSans', sans-serif;
  font-weight: 700;
  font-size: rem(12px);
  line-height: 15px;
  text-transform: uppercase;
  color: $c100;
}

/*------------------------------ Import styles ----------------------------------------*/

/*------- Blocks styles -------------*/

@import '../blocks/title/title.scss';

@import '../blocks/text-field/text-field.scss';
@import '../blocks/date-dropdown/date-dropdown.scss';
@import '../blocks/filter-date-dropdown/filter-date-dropdown.scss';
@import '../blocks/checkbox-button/checkbox-button.scss';
@import '../blocks/checkbox-button-list/checkbox-button-list.scss';
@import '../blocks/radio-buttons/radio-buttons.scss';
@import '../blocks/toggle/toggle.scss';
@import '../blocks/like-button/like-button.scss';
@import '../blocks/rate-button/rate-button.scss';
@import '../blocks/slider-range/slider-range.scss';
@import '../blocks/button/button.scss';
@import '../blocks/icon-link/icon-link.scss';
@import '../blocks/pagination/pagination.scss';
@import '../blocks/dropdown/dropdown.scss';
@import '../blocks/expandable-checkbox-list/expandable-checkbox-list.scss';
@import '../blocks/icon-text/icon-text.scss';
@import '../blocks/icon-text-list/icon-text-list.scss';
@import '../blocks/review/review.scss';
@import '../blocks/bullet-list/bullet-list.scss';
@import '../blocks/donut/donut.scss';

/*--------- Components styles -------------*/

@import '../pages-blocks/search-card/search-card.scss';
@import '../pages-blocks/check-in-card/check-in-card.scss';
@import '../pages-blocks/booking-card/booking-card.scss';
@import '../pages-blocks/login-card/login-card.scss';
@import '../pages-blocks/room-card/room-card.scss';
@import '../pages-blocks/header/header.scss';
@import '../pages-blocks/footer/footer.scss';
@import '../pages-blocks/footer-min/footer-min.scss';
