doctype html
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name='viewport' content="initial-scale=1.0, width=device-width")
        title Cards
        link(rel="apple-touch-icon" sizes="152x152" href="favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png")
        link(rel="manifest" href="favicon/site.webmanifest")
        link(rel="mask-icon" href="favicon/safari-pinned-tab.svg" color="#5bbad5")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
        link(rel="stylesheet" href="cards.css")
    body
        - 
            let options;
            let items;
            let dropdownContent = {
                guests: {
                    text: 'Сколько гостей',
                    items: ['Взрослые', 'Дети', 'Младенцы'],
                    buttons: ['Очистить', 'Применить']
                },
                furniture: {
                    text: 'Удобства',
                    items: ['Спальни', 'Кровати', 'Ванные комнаты'],
                    buttons: false
                }
            };

        include ../../components/search-card/search-card
        include ../../components/check-in-card/check-in-card
        include ../../components/booking-card/booking-card
        include ../../components/login-card/login-card
        include ../../components/room-card/room-card

        section.cards
            .cards__logo
                include ../../common.blocks/logo/ui-logo.svg
            .cards__container
                .cards__column.cards__column-1
                    .search-card-wrap.card-wrap
                        - 
                            options = {
                                title: 'Найдём номера под ваши пожелания',
                                dateDropdown: {
                                    firstDate: {
                                        title: 'Прибытие'
                                    },
                                    lastDate: {
                                        title: 'Выезд'
                                    }
                                },
                                dropdownTitle: 'Гости',
                                dropdown: {content: dropdownContent.guests},
                                button: {
                                    text: 'Подобрать номер',
                                    appearance: 'filled',
                                    isExtended: true
                                }
                            }

                        +search-card(options)

                    .check-in-card-wrap.card-wrap
                        -
                            options = {
                                title: 'Регистрация аккаунта',
                                textFieldName: {placeholder: 'Имя'},
                                textFieldSurname: {placeholder: 'Фамилия'},
                                radioButtons: {
                                    name: 'gender',
                                    items: [
                                        {text: 'Мужчина', isChecked: true},
                                        {text: 'Женщина'}
                                    ]
                                },
                                birthdayTitle: 'Дата рождения', 
                                textFieldBirthday: {isMasked: true}, 
                                credentialsTitle: 'Данные для входа в сервис', 
                                textFieldEmail: {placeholder: 'Email', type: 'email'}, 
                                textFieldPassword: {placeholder: 'Пароль'}, 
                                toggle: {text: 'Получать спецпредложения'}, 
                                button: {
                                    text: 'Перейти к оплате',
                                    appearance: 'filled',
                                    isExtended: true
                                }, 
                                enter: {
                                    text: 'Уже есть аккаунт на Toxin',
                                    button: {
                                        isSecondary: true, 
                                        text: 'Войти'
                                    }
                                }
                            }

                        +check-in-card(options)

                .cards__column.cards__column-2
                    .booking-card-wrap.card-wrap
                        -
                            options = {
                                room: {
                                    number: '888',
                                    class: 'люкс',
                                    term: 'в сутки',
                                    price: '9 990₽'
                                },
                                dateDropdown: {
                                    firstDate: {
                                        title: 'Прибытие',
                                        date: '19.08.2019'
                                    },
                                    lastDate: {
                                        title: 'Выезд',
                                        date: '23.08.2019'
                                    }
                                },
                                dropdownTitle: 'Гости',
                                dropdown: {content: dropdownContent.guests},
                                infoItems: [
                                    {text: '9 990₽ х 4 суток', sum: '39 960₽'},
                                    {text: 'Сбор за услуги: скидка 2 179₽', sum: '0₽', hasIcon: true},
                                    {text: 'Сбор за дополнительные услуги', sum: '300₽', hasIcon: true}
                                ],
                                total: {text: 'Итого', sum: '38 081₽'},
                                button: {text: 'Забронировать', isExtended: true}
                            }
                        
                        +booking-card(options)

                    .login-card-wrap.card-wrap
                        -
                            options = {
                                title: 'Войти',
                                textFieldEmail: {
                                    placeholder: 'Email', type: 'email'
                                },
                                textFieldPassword: {
                                    placeholder: 'Пароль', type: 'password'
                                },
                                button: {text: 'Войти', appearance: 'filled', isExtended: true},
                                enter: {
                                    text: 'Нет аккаунта на Toxin?',
                                    button: {
                                        text: 'Создать',
                                        isSecondary: true
                                    }
                                }
                            }

                        +login-card(options)


                .cards__column.cards__column-3
                    .calendar-wrap.card-wrap
                        input.cards__calendar
                        
                    .room-card-wrap-1.card-wrap
                        -
                            options = {
                                image: 'cards__room-card-1.jpg',
                                number: 888,
                                lux: 'люкс',
                                price: {
                                    number: '9 990₽',
                                    text: 'в сутки'
                                },
                                rateButton: {
                                    id: 'cards__room-card-1',
                                    rate: 5
                                },
                                reviews: {
                                    number: 145,
                                    text: 'Отзывов'
                                }
                            }

                        +room-card(options)
                        
                    .room-card-wrap-2.card-wrap
                        -
                            options = {
                                image: 'cards__room-card-2.jpg',
                                number: 840,
                                price: {
                                    number: '9 900₽',
                                    text: 'в сутки'
                                },
                                rateButton: {
                                    id: 'cards__room-card-2',
                                    rate: 4
                                },
                                reviews: {
                                    number: 65,
                                    text: 'Отзывов'
                                }
                            }

                        +room-card(options)

        script(src='./cards.js')