extends ../../templates/ui-kit


block vars
    - mainClass = 'cards';


block head
    title Cards
    link(rel="stylesheet" href="cards.css")


block content

    -
        let data = require('./cards.json');

    include ../../blocks-semantic/search-card/search-card
    include ../../blocks-semantic/check-in-card/check-in-card
    include ../../blocks-semantic/booking-card/booking-card
    include ../../blocks-semantic/login-card/login-card
    include ../../blocks-semantic/room-card/room-card

    .cards__container

        .cards__column.cards__column-1

            .search-card-wrap.card-wrap
                +search-card(data.searchCard)

            .check-in-card-wrap.card-wrap
                +check-in-card(data.checkInCard)

        .cards__column.cards__column-2

            .booking-card-wrap.card-wrap              
                +booking-card(data.bookingCard)

            .login-card-wrap.card-wrap
                +login-card(data.loginCard)


        .cards__column.cards__column-3
        
            .calendar-wrap.card-wrap
                input.cards__calendar
                
            .room-card-wrap-1.card-wrap
                +room-card(data.roomCard1)
                
            .room-card-wrap-2.card-wrap
                +room-card(data.roomCard2)


block script
    script(src='./cards.js')