@import '../../scss/_vars';
@import '../../scss/_mixins';

.cards {
  position: relative;
  padding: 150px 0;
  background-color: #F4F4F6;
  justify-content: space-between;
/*   * {
    border: 1px solid #f00 !important;
  } */

  &__logo {
    position: absolute;
    top: 30px;
    left: 6.5%;
  }

  &__container {
    width: 100%;
    max-width: 1240px;
    padding: 0 20px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__column {
    margin: 0 20px;
    
    &-1 {
      width: 100%;
      max-width: 380px;
    }

    &-2 {
      width: 100%;
      max-width: 380px;
    }

    &-3 {
      width: 100%;
      max-width: 320px;
    }
  }
}

.search-card-wrap {
  margin-bottom: 41px;
}

.check-in-card-wrap {
  margin-bottom: 40px;
}

.booking-card-wrap {
  margin-bottom: 41px;
}

.login-card-wrap {
  margin-bottom: 40px;
}

.cards__calendar {
  display: none;
}

.calendar-wrap {
  margin-bottom: 33px;
}

.room-card-wrap-1,
.room-card-wrap-2 {
  max-width: 270px;
}

.room-card-wrap-1 {
  margin-bottom: 38px;
}