include ../icon-link/icon-link
include ../title/title
include ../counted-item/counted-item

mixin dropdown({title, content = {initialText, text, items, buttons}, isOpen, isSmall})
	-	
		let open = isOpen ? 'dropdown_open' : false;
		let small = isSmall ? 'dropdown_small' : false;
		let isClearVisible = 'dropdown__action_hidden';
		let text = content.text || content.initialText;

	.dropdown.js-dropdown(class=[open, small] data-initial-text=content.initialText)
		if title
			.dropdown__title
				+title(title)

		.dropdown__field
			span.dropdown__text.js-dropdown__text= text
			i.dropdown__arrow.js-dropdown__arrow.material-icons expand_more

		.dropdown__popup.js-dropdown__popup

			ul.js-dropdown__items

				each item in content.items
					li.dropdown__item
						- item.value = item.value || 0;
						- item.gettingDataClass = 'js-dropdown__item-data';
						- isClearVisible = item.value > 0 ? false : isClearVisible;

						+counted-item(item)
			
			if content.buttons
				.dropdown__action.dropdown__action_clear.js-dropdown__action_clear(class=isClearVisible)
					+icon-link({text: content.buttons[0]})
				.dropdown__action.dropdown__action_apply.js-dropdown__action_apply
					+icon-link({text: content.buttons[1], isPrimary: true})
