.search-card {
  padding: rem(40px) rem(30px) rem(30px) rem(30px);
  background-color: #fff;
  border-radius: rem(4px);
  box-shadow: rem(0px) rem(0px) rem(25px) rgba(0, 0, 0, .2);
  min-width: rem(260px);
  max-width: rem(380px);

  &__title {
    letter-spacing: rem(1.4px);
    margin-bottom: rem(20px);
    letter-spacing: rem(.1px);
  }

  &__date-dropdown {
    margin-bottom: rem(20px);
  }

  &__dropdown {
    margin-bottom: rem(31px);
  }

  &__dropdown-title {
    margin-bottom: rem(5px);
  }
}

@media (max-width: rem(575.98px)) {

  .search-card {
    padding: rem(25px) rem(20px) rem(20px) rem(20px);
  }
}