.switches {
  width: 100%;

  &__switch {

    &:first-child {
      margin-bottom: rem(28px);
    }

    &:nth-child(2) {
      margin-bottom: rem(39px);
    }

    &:nth-child(3) {
      margin-bottom: rem(45px);
    }

    &:nth-child(4) {
      margin-bottom: rem(40px);
    }
  }
}