.rating {
  width: 120px;
}

.label_rating {
  float: right;
  cursor: pointer;

  &:before {
    content: 'star_border';
    top: 0;
    left: 0;
    font-size: rem(24px);
    background: $gradient;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.label_rating:hover,
.label_rating:hover~.label_rating,
.rating input:checked~.label_rating {
  &:before {
    content: 'star';
  }
}

.rating__star {
  display: none;
}