.checkbox-button {
  box-sizing: border-box;
  
  * {
    box-sizing: border-box;
  }

  &__input {
    position: absolute;
    z-index: -1;
    opacity: 0;
    margin: 10px 0 0 20px;
    padding: 0;

    &:not(:checked)+.checkbox-button__text-block:after {
      opacity: 0;
    }

    &:checked+.checkbox-button__text-block:after {
      opacity: 1;
    }

    &:checked+.checkbox-button__text-block:before {
      border-color: $primary;
    }    
  }

  &__text-block {
    margin-left: 29px;
    position: relative;

    &:before {
      box-sizing: border-box;
      content: '';
      position: absolute;
      left: -29px;
      top: 0px;
      width: 20px;
      height: 20px;
      border: 1px solid $greyOpacity25;
      background-color: #fff;
      border-radius: 4px;
      cursor: pointer;
    }

    &:after {
      box-sizing: border-box;
      content: '';
      position: absolute;
      transition: all .15s ease;
      left: -23px;
      top: 6px;
      width: 8px;
      height: 6px;
      border-left: 2px solid;
      border-bottom: 2px solid;
      border-image: linear-gradient(0deg, $primary 0%, #8BA4F9 100%);
      border-image-slice: 1;
      transform: rotate(-45deg);
      cursor: pointer;
    }
  }

  &__text {
    cursor: pointer;
    line-height: 18px;
    color: $greyOpacity50;
    display: block;
  }

  &__title {
    color: $greyOpacity75;
    font-weight: 700; 
    margin-bottom: 6px;
    cursor: pointer;
    line-height: 20px;
    display: block;
  }

  &_rich {

    .checkbox-button__text {
      font-size: rem(12px);
      line-height: 13.5px;
      color: $greyOpacity50;
    }
  }
}