.icon-link {
  background-color: transparent;
  padding: 0;
  border: none;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: rem(12px);
  line-height: 16px;
  cursor: pointer;
  font-family: "Montserrat";
  color: $c50;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &_primary {
    color: $primary;
  }
}