.icon-link {
  background-color: transparent;
  padding: 0;
  border: 0;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 16px;
  cursor: pointer;
  font-family: 'Montserrat';
  color: $greyOpacity50;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  &_primary {
    color: $primary;
  }
}